<div class="modal-body">
    <div class="container-fluid">
        <form method=POST action="#">
            <div class="row">
                <div class="col-2">
                    <div class="modal-title fs-4" id="exampleModalFullscreenLabel">
                        <legend>Тарифы</legend>
                    </div>
                </div>
                <div class="col-8">
                    <div class="row justify-content-center">
                        <input style="width: 400px" class="form-control"
                               placeholder="Тарифы для {{ context.carwash.Name }}" name="search_field"
                               aria-describedby="addon-wrapping">
                        <button style="width: 80px" type="submit" class="btn btn-outline-secondary">Поиск</button>
                    </div>
                </div>
                <div class="col-2">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col text-end">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-light">
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for price in context.prices %}
            <tr>
                <td>
                    {{ price.name }}
                </td>
                <td>
                    {{ price.description }}
                </td>

                <td style="align-items: center;">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                               checked>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col text-end">
            <button id="create" name="create_button" type="submit" class="btn btn-outline-success">
                Сохранить
            </button>
        </div>
    </div>
</div>
