{% extends 'base.html' %}

{% block body %}
<br>
<table class="table table-bordered table-center align-middle">
    <thead class="table-light">
    <tr>
        <th scope="col" colspan="7">
            <div class="row">
                <div class="col-10">Прайс-лист доступных услуг</div>
            </div>
        </th>
    </tr>
    <tr>
        <th>id</th>
        <th>Название</th>
        <th>Описание</th>
        <th>Добавить в {{ context.carwash.Name }}</th>

    </tr>
    </thead>
    <tbody>

    {% for price in context.prices %}

    <tr>
        <td>
            {{ price._id }}
        </td>
        <td>
            {{ price.name }}
        </td>
        <td>
            {{ price.description }}
        </td>

        <td>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" name="status"
                       id="flexSwitchCheckChecked"
                       checked>
            </div>
        </td>


    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}