{% extends 'base.html' %}

{% block body %}
<script>


    $(document).ready(function () {
        create_new_price();
    });

    function open_modal_window_prices_list() {
        $('#new_price_modal').modal('show');
    }

    function create_new_price() {
        $('#create_price').click(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{{ url_for('prices_blueprint.new_price', set_id=context.set._id) }}",
                data: $('#priceForm').serialize(),
                success: function () {
                    $('#new_price_modal').modal('toggle');
                }
            });
        });
    }

</script>

<br>
<div class="row justify-content-center">
    <div class="col-2 text-center"></div>
    <div class="col-8">

        <table class="table table-bordered table-center align-middle" id="table_prices">
            <thead class="table-light">
            <tr>
                <th scope="col" colspan="8">
                    <div class="row">
                        <div class="col-9">
                            {{ context.set.Name }}
                        </div>
                        <div class="col-3">
                            <div class="row">
                                {% if g.user_db.role != 'network_worker' %}
                                <div class="col"></div>
                                <div class="col">
                                    <a onclick="open_modal_window_prices_list();"
                                       style="width: 120px" class="btn-sm btn btn-outline-secondary">+</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th>Тариф</th>
                {% for enum in context['enum_list'] %}
                <th>{{ enum.CategoryAutoToDispaly(enum) }}</th>
                {% endfor %}
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tbody>

            {% for price in context.set_prices %}
            <tr>
                <td style="width: 365px">
                    <b>{{ price.name }}</b><br>
                    {{ price.description }}
                </td>
                {% for i in price.categoryPrice %}
                <td>
                    {% set id_of_cell = price['_id'] %}
                    <input name="prices_{{ price['_id'] }}_{{ i['category'] }}"
                           style="width: 100%; text-align: end" type="text"
                           class="form-control" placeholder="{{ i['sum'] }}" value="{{ i['sum'] }}">
                </td>
                {% endfor %}
                <td>
                    <div class="btn-group-vertical" role="group" aria-label="Вертикальная группа кнопок">
                        <a onclick="edit_price({{ price._id }});" style="width: 100%"
                           class="btn-sm btn btn-outline-warning">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                            </svg>
                        </a>
                        <a onclick="delete_price({{ price._id }});" style="width: 100%"
                           class="btn-sm btn btn-outline-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd"
                                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </a>
                    </div>
                </td>
            </tr>

            {% endfor %}
            </tbody>

            </tbody>
        </table>
        {% if g.user_db.role != 'network_worker' %}
        <button style="width: auto" type="submit" class="btn btn-outline-success">Сохранить</button>
        {% endif %}

    </div>
    <div class="col-2"></div>
</div>

<div class="modal fade" id="new_price_modal" tabindex="-1" aria-labelledby="exampleModalFullscreenLabel"
     aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="fullscreen_prices_list">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-2">
                            <div class="modal-title fs-4" id="exampleModalFullscreenLabel">
                                <legend>Создать новый тариф</legend>
                            </div>
                        </div>
                        <div class="col-8"></div>
                        <div class="col-2">
                            <div class="row">
                                <div class="col"></div>
                                <div class="col"></div>
                                <div class="col text-end">
                                    <a type="submit" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <form id="priceForm">
                    <table class="table table-bordered table-center align-middle">
                        <thead class="table-light">
                        <tr>
                            <th scope="col" colspan="3">Тариф Мойки</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="width: 200px">
                                Название:
                            </td>
                            <td>
                                <input name="name" style="width: 100%" type="text" class="form-control"
                                       required placeholder="Как назовете?">
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 200px">
                                Описание:
                            </td>
                            <td>
                                <input name="description" style="width: 100%" type="text" class="form-control"
                                       required placeholder="Что входит в мойку?">
                            </td>
                        </tr>

                        <tr>
                            <th colspan="2" style="width: 200px">
                                Стоимость:
                            </th>
                        </tr>
                        {% for enum in context.enum_list %}
                        <tr>
                            <td>
                                {{ enum.CategoryAutoToDispaly(enum) }}:
                            </td>
                            <td>
                                <input style="width:100%; text-align: end" name="{{ enum.name }}" type="text"
                                       class="form-control" required
                                       placeholder="₽">
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td style="width: 200px">
                                Тип стоимости:
                            </td>
                            <td>
                                &nbsp;<select style="width: 100%" class="form-control" id="validationCustom04"
                                              name="costType">
                                <option value=""> ...</option>
                                <option value="Fix">Фиксированная</option>
                                <option value="PerMinute">Поминутная</option>
                            </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col text-end">
                            <button id="create_price" class="btn btn-outline-success">
                                Подтвердить
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
<br>
