{% extends 'base.html' %}

{% block body %}
<br>
<div class="row justify-content-center">
    <div class="col-2 text-center"></div>
    <div class="col-8">
        <form method=POST action="{{ url_for('carwash_blueprint.create_carwash') }}">
            <table class="table table-bordered table-center align-middle" id="table_prices">
                <thead class="table-light">
                <tr>
                    <th scope="col" colspan="8">
                        <div class="row">
                            <div class="col-9">Прейскурант</div>
                            <div class="col-3">
                                <div class="row">
                                    {% if g.user_db.role != 'network_worker' %}
                                    <div class="col"></div>
                                    <div class="col">
                                        <a onclick="open_modal_window_prices_list();"
                                           style="width: 120px" class="btn-sm btn btn-outline-secondary">+</a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>Тариф</th>
                    {% for enum in context['enum_list'] %}
                    <th>{{ enum.CategoryAutoToDispaly(enum) }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td style="width: 350px"></td>
                    <td></td>
                </tr>

                </tbody>
            </table>
            {% if g.user_db.role != 'network_worker' %}
            <button style="width: auto" type="submit" class="btn btn-outline-success">Сохранить</button>
            {% endif %}
        </form>
    </div>
    <div class="col-2"></div>
</div>

<div class="modal fade" id="prices_list_search" tabindex="-1" aria-labelledby="exampleModalFullscreenLabel"
     aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="fullscreen_prices_list">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-2">
                            <div class="modal-title fs-4" id="exampleModalFullscreenLabel">
                                <legend>Тарифы</legend>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="row justify-content-center">
                                <input style="width: 400px" class="form-control"
                                       placeholder="Тарифы для {{ context.carwash.Name }}" name="search_field"
                                       aria-describedby="addon-wrapping">
                                <button style="width: 80px" type="submit" class="btn btn-outline-secondary">Поиск
                                </button>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="row">
                                <div class="col"></div>
                                <div class="col"></div>
                                <div class="col text-end">
                                    <a type="submit" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <form id="postPricesForm">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="table-light">
                            <tr>
                                <th>Название</th>
                                <th>Описание</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for price in context.prices_list %}
                            <tr>
                                <td>

                                    {{ price.name }}

                                </td>
                                <td>
                                    {{ price.description }}
                                </td>

                                <td style="align-items: center;">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input"
                                               type="checkbox" role="switch" name="{{ price._id }}"

                                               {% for obj_price in context.carwash.Price %}
                                               {% if obj_price._id== price._id %}
                                               {% if obj_price.status== 'active' %}
                                        checked
                                        {% endif %}
                                        {% endif %}
                                        {% endfor %}


                                        >
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col text-end">
                            <button id="prices_update" class="btn btn-outline-success">
                                Подтвердить
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}

