{% extends "base.html" %}


{% if locker %}
{% block body %}
<div class="container">

    <table  style="border: ; text-align:center">
        <caption>Список заказов находящихся в бд:</caption>
        <tr>
            <th>CarWashId</th>
            <th>BoxNumber</th>
            <th>order Id</th>
            <th>ContractId</th>
            <th>Sum</th>
            <th>Status</th>
            <th>DateCreateMy</th>
            <th>SumCompleted</th>
            <th>SumPaidStationCompleted</th>
            <th>Services</th>
        </tr>

        {% for post in posts %}
        <tr>
            <td>
                <div><p>{{ post.CarWashId }}</p></div>
            </td>

            <td>
                <div><p>{{ post.BoxNumber }}</p></div>
            </td>
            <td>
                <div><p>{{ post.Id }}</p></div>
            </td>
            <td>
                <div><p>{{ post.ContractId }}</p></div>
            </td>
            <td>
                <div><p>{{ post.Sum }}</p></div>
            </td>
            <td>
                <div><p>{{ post.Status }}</p></div>
            </td>
            <td>
                <div><p>{{ post.DateCreateMy }}</p></div>
            </td>
            <td>
                <div><p>{{ post.SumCompleted }}</p></div>
            </td>
            <td>
                <div><p>{{ post.SumPaidStationCompleted }}</p></div>
            </td>
            <td>
                {% for service in post.Services %}
                <div>id: <br>{{ service.Id }}</div>
                <div>Имя: <br>{{ service.Description }}</div>
                <div>Цена: <br>{{ service.Cost }}</div>
                {% endfor %}
            </td>
        </tr>

        {% endfor %}
    </table>
</div>
{% endblock %}

{% else %}
{% endif %}


