{% extends 'bootstrap/base.html' %}


<html lang="ru" xmlns="http://www.w3.org/1999/html"> <!-- Язык сайта - русский -->
<head>
    <meta charset="utf-8"> <!-- Кодировка сайта -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--<meta name="viewport" content="width=device-width, initial-scale=0">-->
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>


    <title>
        {% block title %}
            {% if title %}{{ title }} - Microblog{% else %}Welcome to Microblog{% endif %}
        {% endblock %}
    </title>
</head>
<body>
<header>
    {% include 'includes/header.html' %}
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
<footer>
</footer>
</body>
</html>