<nav class="navbar navbar-expand navbar-light bg-light">
    <meta name="theme-color" content="#ffffff">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><span style="color:#284C7E">Мой</span><span style="color:#000000">декс</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav">
                {% if g.user_db.role == 'admin' %}
                <div class="dropdown">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           data-bs-toggle="dropdown">
                            Словари админки
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                                <a class="dropdown-item" href="{{ url_for('admin_blueprint.admin_networks_list') }}">Сети</a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="{{ url_for('admin_blueprint.admin_users') }}">Пользователи</a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="{{  url_for('carwash_blueprint.carwashes_list') }}">Мойки</a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="{{ url_for('order_blueprint.orders_list') }}">Заказы</a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="{{ url_for('admin_blueprint.list_of_prices') }}">Тарифы</a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="{{ url_for('prices_blueprint.list_sets_prices') }}">Наборы Тарифов</a>
                            </li>
                        </ul>
                    </li>
                </div>
                <li class="nav-item">
                    <a class="nav-link" href="{{  url_for('monitoring_blueprint.monitoring') }}" aria-disabled="true">Мониторинг</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{  url_for('statistics_blueprint.statistics') }}" aria-disabled="true">Статистика</a>
                </li>
                {% endif %}
                {% if g.user_db.role == 'network_owner' %}
                <li class="nav-item">
                    <a class="nav-link" aria-disabled="true" href="{{  url_for('carwash_blueprint.carwashes_list') }}">
                        Мойки </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-disabled="true" href="{{ url_for('order_blueprint.orders_list') }}">
                        Заказы </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-disabled="true" href="{{ url_for('prices_blueprint.list_sets_prices') }}">
                        Тарифы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{  url_for('statistics_blueprint.statistics') }}" aria-disabled="true">Бухгалтерия</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{  url_for('statistics_blueprint.test') }}" aria-disabled="true">test</a>
                </li>
                {% if g.user_db.role == 'network_worker' %}
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{  url_for('carwash_blueprint.carwash_detail', carwash_id=g.user_db.PinnedCarwashId) }}"
                       aria-disabled="true">
                        Мойка </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('order_blueprint.orders_list') }}" aria-disabled="true">
                        Заказы </a>
                </li>
                {% endif %}


            </ul>
        </div>
        {% if g.user_db.role == 'admin' %}
        {{ g.user_db.role }} {{ g.user_inf['real_name'] }}
        {% elif g.user_db.role == 'network_owner' %}
        Владелец cети: {{ g.user_inf['real_name'] }}
        {% elif g.user_db.role == 'network_worker' %}
        Администратор мойки
        {% endif %}
        {% if g.user_inf['is_avatar_empty'] == False %}
        &nbsp;<a class="navbar-brand" href="/">
        <img src="https://avatars.yandex.net/get-yapic/{{ g.user_inf['default_avatar_id'] }}/islands-retina-50"
             class="d-inline-block align-text-top" height="50" width="50" href="">
    </a>
        {% endif %}
    </div>
</nav>

<!--<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light" aria-label="Main navigation">-->
<!--    <div class="container-fluid">-->
<!--        <a class="navbar-brand" href="/"><span style="color:#284C7E">Мой</span><span style="color:#000000">декс</a>-->
<!--        <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse"-->
<!--                aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">-->
<!--            <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link active" aria-current="page" href="#">Dashboard</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">Notifications</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">Profile</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">Switch account</a>-->
<!--                </li>-->
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Settings</a>-->
<!--                    <ul class="dropdown-menu">-->
<!--                        <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--                        <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--                        <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <form class="d-flex" role="search">-->
<!--                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->
<!--<div class="nav-scroller bg-body shadow-sm">-->
<!--    <nav class="nav" aria-label="Secondary navigation">-->
<!--        <a class="nav-link active" aria-current="page" href="#">Dashboard</a>-->
<!--        <a class="nav-link" href="#">-->
<!--            Friends-->
<!--            <span class="badge text-bg-light rounded-pill align-text-bottom">27</span>-->
<!--        </a>-->
<!--        <a class="nav-link" href="#">Explore</a>-->
<!--        <a class="nav-link" href="#">Suggestions</a>-->
<!--        <a class="nav-link" href="#">Link</a>-->
<!--        <a class="nav-link" href="#">Link</a>-->
<!--        <a class="nav-link" href="#">Link</a>-->
<!--        <a class="nav-link" href="#">Link</a>-->
<!--        <a class="nav-link" href="#">Link</a>-->
<!--        <a class="navbar-brand" href="/">Профиль</a>-->
<!--        {% if g.user_db.role == 'network_owner' %}-->
<!--        <a class="nav-link" href="{{  url_for('carwash_blueprint.carwashes_list') }}">Мойки</a>-->
<!--        <a class="nav-link" href="{{ url_for('order_blueprint.orders_list') }}">Заказы</a>-->
<!--        <a class="nav-link" href="{{ url_for('prices_blueprint.list_sets_prices') }}">Наборы Тарифов</a>-->
<!--        <a class="nav-link" href="{{  url_for('statistics_blueprint.statistics') }}">Статистика</a>-->
<!--        {% endif %}-->

<!--        {% if g.user_db.role == 'admin' %}-->
<!--        <a class="nav-link" href="{{ url_for('admin_blueprint.admin_networks_list') }}">Сети</a>-->
<!--        <a class="nav-link" href="{{ url_for('admin_blueprint.admin_users') }}">Пользователи</a>-->
<!--        <a class="nav-link" href="{{ url_for('admin_blueprint.list_of_prices') }}">Тарифы</a>-->
<!--        <a class="nav-link" href="{{  url_for('monitoring_blueprint.monitoring') }}">Мониторинг</a>-->
<!--        {% endif %}-->
<!--    </nav>-->
<!--</div>-->