<nav class="navbar navbar-dark bg-dark" aria-label="Dark offcanvas navbar">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="navbar-brand" href="/"><span style="color:#0a53be ">Мой</span><span
                    style="color: #bacbe6">декс</span></a>
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li>
                    <a class="nav-link text-white" href="{{ url_for('order_blueprint.orders_list') }}">
                        Заказы
                    </a>
                </li>
                <li>
                    <a class="nav-link text-white" href="{{  url_for('carwash_blueprint.carwashes_list') }}">Мойки</a>
                </li>
            </ul>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbarDark"
                aria-controls="offcanvasNavbarDark" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbarDark"
             aria-labelledby="offcanvasNavbarDarkLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Навигация</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Профиль</a>
                    </li>
                    {% if g.user_db.role == 'network_owner' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{  url_for('carwash_blueprint.carwashes_list') }}">Мойки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('order_blueprint.orders_list') }}">Заказы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('prices_blueprint.list_sets_prices') }}">Наборы
                            Тарифов</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{  url_for('statistics_blueprint.statistics') }}">Статистика</a>
                    </li>
                    {% endif %}
                    {% if g.user_db.role == 'admin' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{  url_for('carwash_blueprint.carwashes_list') }}">Мойки</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('order_blueprint.orders_list') }}">Заказы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin_blueprint.admin_networks_list') }}">Сети</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin_blueprint.admin_users') }}">Пользователи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin_blueprint.list_of_prices') }}">Тарифы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{  url_for('monitoring_blueprint.monitoring') }}">Мониторинг</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('admin_blueprint.admin_users') }}">Пользователи</a>
                    </li>
                    {% endif %}
                    {% if g.user_db.role == 'network_worker' %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{  url_for('carwash_blueprint.carwash_detail', carwash_id=g.user_db.PinnedCarwashId) }}">Мойка</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for('order_blueprint.orders_list', carwash_id=g.user_db.PinnedCarwashId) }}">Заказы</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="offcanvas-footer">
                <div class="container-fluid">
                    <div class="row text-center">
                        <a class="btn btn-outline-danger" href="{{ url_for('main_blueprint.logout') }}">Выйти</a>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</nav>

