{% extends "base.html" %}

{% block body %}
<br>
<div class="container">

    <div class="col-12">

        {% for network in context.dict_of_networks %}
        {{ network }}:<br><br><br>
        <div class="container">
            {% for carwash in context.dict_of_networks[network] %}
            <a href="{{ url_for('carwash_blueprint.owner_carwash_detail', carwash_id=carwash._id) }}">
                {% if carwash.Enable == True %}
                <span class="badge bg-success">&nbsp;</span></a>
            {% else %}
            <span class="badge bg-danger">&nbsp;</span></a>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>

        <br>
        <br>
    </div>

</div>
{% endblock %}