{% extends "base.html" %}

{% block body %}
<br>
<div class="container">

    <div class="col-12">

        {% for carwash in context.carwashes_list %}
        <a href="{{ url_for('carwash_blueprint.owner_carwash_detail', carwash_id=carwash._id) }}">
            {% if carwash.Enable == True %}
            <span class="badge bg-success">&nbsp;</span>
            {% elif carwash.Enable == False %}
            <span class="badge bg-danger">&nbsp;</span>
            {% else %}
            <span class="badge bg-warning">&nbsp;</span>
            {% endif %}
        </a>&nbsp;
        {% endfor %}
        <br>
        <br>
        TEEESTING::
        <br>
        {% for network in range(context.amount_networks) %}
        #{{ network }}:<br>
        5 моек:<br>
        {% for carwash in range(context.amount_carwashes_min) %}
        <a href="#"><span class="badge bg-success">&nbsp;</span></a>
        {% endfor %}<br>
        15 моек:<br>
        {% for carwash in range(context.amount_carwashes_mid) %}
        <a href="#"><span class="badge bg-success">&nbsp;</span></a>
        {% endfor %}<br>
        100 моек:<br>
        {% for carwash in range(context.amount_carwashes_max) %}
        <a href="#"><span class="badge bg-success">&nbsp;</span></a>
        {% endfor %}<br>
        {% endfor %}
    </div>

</div>
{% endblock %}