{% extends "base.html" %}

{% block body %}
<br>
<div class="container">
    <div class="row">
        <div class="col-2">

            <a class="nav-link" href="#" aria-disabled="true">Кнопки</a>

        </div>
        <div class="col-10">
            <main class="container-sm">
                <div class="table-responsive">
                    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                        {% for carwash in context.carwashes_list %}
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">{{ carwash.Name }}</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">0&#8381
                                        <small class="text-muted fw-light">за сегодня</small>
                                    </h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Тип: {{ carwash.Type | type_rus }}</li>
                                        <li>Статус: {{ carwash.Enable | enable_rus }}</li>
                                        <li>{{ carwash.Boxes | format_pretty_boxes }}</li>
                                    </ul>
                                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Детальный
                                        мониторинг
                                    </button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    {% for carwash in context.carwashes_list %}

                    <table class="table table-bordered table-center">
                        <thead class="table-light">
                        <tr>
                            <th scope="col" colspan="2">
                                Название мойки
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th style="width: 200px" colspan="2" rowspan="3">
                                {{ carwash.Boxes | format_pretty_boxes }}<br>
                            </th>
                            <th style="width: 200px">
                                Статус:
                            </th>
                            <th>
                                {{ g.user_db.role }}
                            </th>
                            <th style="width: 200px">
                                Дата регистрации:
                            </th>
                            <th>
                                {{ g.user_db.date_registered | format_datetime }}
                            </th>
                        </tr>

                        </tbody>
                    </table>
                    {% endfor %}
                    РЕЖИМ Мониторинга!!!

                    Ваш статус: {{ context['status'] }} <br>
                    ________________________________________________________________________<br>
                    {% for i in context['user_yan_inf'] %}
                    {{ i }} -> {{ context['user_yan_inf'][i] }}<br>
                    {% endfor %}
                    ________________________________________________________________________<br>
                </div>


            </main>
        </div>
    </div>
</div>
{% endblock %}