{% extends "users/base_users.html" %}
{% block body %}
<br>
<br>
<br>
<div class="container">
    <div class="row justify-content-center">

        <div class="col-md-4 col-md-offset-4">
            <form method=POST action="{{ url_for('login') }}">
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Имя:">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="pass" placeholder="Пароль:">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Войти</button>
            </form>
            <br>

            <form action="{{ url_for('oauth') }}">
                <button type="submit" class="btn btn-primary btn-block">Войти через Я</button>
            </form>

            <br>
            <div>
                Еще не зарегистрированы?<br>Тогда вам <a href="{{ url_for('register') }}">сюда</a>.
            </div>
        </div>
    </div>
</div>
{% endblock %}