{% extends 'base.html' %}

{% block body %}
<br>
<div class="row justify-content-center">
    <div class="col-2 text-center">
        <div class="btn-group-vertical" role="group" aria-label="Вертикальная группа кнопок">
            {% if context.create_new== True %}
            {% else %}
            <a class="btn btn-outline-secondary"
               href="{{ url_for('schedule_blueprint.schedule_certain_carwash', carwash_id=context.carwash._id) }}">
                Расписание заказов
            </a>
            <a class="btn btn-outline-secondary"
               href="{{ url_for('box_panel_blueprint.box_panel', carwash_id=context.carwash._id) }}">
                Панель состояния
            </a>
            <a class="btn btn-outline-secondary"
               href="{{ url_for('order_blueprint.orders_list', carwash_id=context.carwash._id) }}">
                Журнал заказов
            </a>
            <a class="btn btn-outline-secondary disabled"
               href="#">
                Кассовые смены
            </a>
            <a class="btn btn-outline-secondary disabled"
               href="#">
                Статистика
            </a>
            {% endif %}
        </div>
    </div>
    <div class="col-8">
        <form method=POST
              {% if context.create_new== True %}
              action="{{ url_for('carwash_blueprint.create_carwash') }}"
              {% else %}
              action="{{ url_for('carwash_blueprint.carwash_detail', carwash_id=context['carwash']._id) }}"
              {% endif %}
        >
            <table class="table table-bordered table-center align-middle">
                <thead class="table-light">
                <tr>
                    <th scope="col" colspan="3">Мойка</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="width: 200px">
                        Название:
                    </td>
                    <td>
                        <input name="name" style="width: 100%" type="text" class="form-control" required
                               value="{{ context['carwash'].Name if context['carwash'] is not none else '' }}">
                    </td>
                </tr>
                <tr>
                    <td style="width: 200px">
                        Адрес:
                    </td>
                    <td>
                        <input name="address" style="width: 100%" type="text" class="form-control" required
                               value="{{ context['carwash'].Address if context['carwash'] is not none else '' }}">
                    </td>
                </tr>
                <tr>
                    <td style="width: 200px">
                        Координаты:
                    </td>
                    <td>
                        <div class="row justify-content-evenly">
                            <input name="lat" style="width: 48%" type="text" class="form-control"
                                   required placeholder="latitude"
                                   value="{{ context['carwash'].Location.lat if context['carwash'] is not none else '' }}">
                            <input name="lon" style="width: 48%" type="text" class="form-control"
                                   required placeholder="longitude"
                                   value="{{ context['carwash'].Location.lon if context['carwash'] is not none else '' }}">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 200px">
                        Кол-во боксов:
                    </td>
                    <td>
                        <input name="amount_boxes" style="width: 100%" type="text" class="form-control"
                               value="{{ context['amount_boxes'] if context['carwash'] is not none else '' }}" required>
                    </td>
                </tr>
                <tr>
                    <td style="width: 200px">
                        Оказываемые услуги:
                    </td>
                    <td>
                        <div class="form-check-inline">
                            <input name="is_hand_carwash" type="checkbox" class="btn-check" id="hand_carwash"
                                   autocomplete="off">
                            <label class="btn btn-outline-secondary" for="hand_carwash">Ручная мойка</label><br>
                        </div>
                        <div class="form-check-inline">

                            <input name="is_wheel_station" type="checkbox" class="btn-check" id="wheel_station"
                                   autocomplete="off">
                            <label class="btn btn-outline-secondary" for="wheel_station">Шиномонтаж</label><br>
                        </div>
                        <div class="form-check-inline">

                            <input name="is_detaling" type="checkbox" class="btn-check" id="detaling"
                                   autocomplete="off">
                            <label class="btn btn-outline-secondary" for="detaling">Детейлинг</label><br>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="width: 200px">
                        Состояние Мойки:
                    </td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" name="status"
                                   id="flexSwitchCheckChecked"
                                   {% if context['carwash'].Enable == True %} checked {% endif %}>
                            <label class="form-check-label" for="flexSwitchCheckChecked">Мойка активна</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 200px">
                        Администратор Мойки:
                    </td>
                    <td>
                        <input class="form-control" type="text" name="login_administrator"
                               value="{{ context.carwash.CarwashAdmin if context['carwash'] is not none else '' }}">
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table table-bordered table-center align-middle">
                <thead class="table-light">
                <tr>
                    <th  scope="col"  colspan="6">Прейскурант</th>

                    <td colspan="1"><a href="#" style="width: 100px" class="btn-sm btn btn-outline-secondary">+</a></td>
                </tr>
                <tr>
                    <th  scope="col"  colspan="7">
                    <div>
                        Прейскурант
                        <a href="#" style="width: 100px" class="btn-sm btn btn-outline-secondary">+</a>
                    </div>
                </tr>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    {% for enum in context['enum_list'] %}
                    <th>{{ enum.CategoryAutoToDispaly(enum) }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>

                {% for price in context['prices_list'] %}

                <tr>
                    <td style="width: 200px">
                        {{ price.name }}

                    </td>
                    <td>
                        {{ price.description }}
                    </td>
                    {% for i in price.categoryPrice %}
                    <td>
                        {% set id_of_cell = price['_id'] %}
                        <input name="prices_{{ price['_id'] }}_{{ i['category'] }}"
                               style="width: 100px" type="text"
                               class="form-control" placeholder="{{ i['sum'] }}"
                               value="{% for obj in context['carwash']['Price'] %}{% if obj.Id == id_of_cell %}{% if obj.categoryPrice == i['category'] %}{{obj.cost}}{% endif %}{% endif %}{% endfor %}">

                    </td>
                    {% endfor %}

                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if g.user_db.role != 'network_worker' %}
            <button style="width: auto" type="submit" class="btn btn-outline-success">Сохранить</button>
            {% endif %}
        </form>
    </div>
    <div class="col-2"></div>

</div>

{% endblock %}