<tr>
    <td style="width: 200px">
        {{ context.price.name }}
    </td>
    <td>
        {{ context.price.description }}
    </td>
    {% for i in context.price.categoryPrice %}
    <td>
        {% set id_of_cell = context.price['_id'] %}
        <input name="prices_{{ context.price['_id'] }}_{{ i['category'] }}"
               style="width: 100px" type="text"
               class="form-control" placeholder="{{ i['sum'] }}"
               value="{% for obj in context['carwash']['Price'] %}{% if obj.Id == id_of_cell %}{% if obj.categoryPrice == i['category'] %}{{obj.cost}}{% endif %}{% endif %}{% endfor %}">
    </td>
    <td>Кнопка удаления строчки</td>
    {% endfor %}

</tr>