{% extends "base.html" %}

{% block body %}

<script>
    $(document).ready(function () {
        updating();
        deleting();
        reload();
    });

    function updating() {
        $('#to_update').click(function () {
            $.ajax({
                type: 'POST',
                url: "{{ url_for('users_blueprint.user', user_id=context['user']._id) }}",
                data: $('#user-info').serialize(),
            });
        });
    }

    function deleting() {
        $('#to_delete').click(function () {
            console.log('Deleting')
        });
    }
</script>

<br>
<div class="col-sm-2"></div>
<div class="col-sm-8 main">
    <div class="table-responsive">
        <form id="user-info">
            <table class="table table-bordered table-center">
                <thead class="table-light">
                <tr>
                    <th scope="col" colspan="3">Пользователь</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="width: 200px">
                        логин:
                    </td>
                    <td>
                        <input name="login" style="width: 350px" type="text" class="form-control"
                               required placeholder="login" value="{{ context['user'].login }}">

                    </td>
                </tr>
                <tr>
                    <td style="width: 200px">
                        дата регистрации:
                    </td>
                    <td>
                        <input name="lon" style="width: 350px" type="text" class="form-control"
                               required placeholder="longitude"
                               value="{{ context['user'].date_registered | format_datetime }}">

                    </td>
                </tr>
                <tr>
                    <td style="width: 200px">
                        Закреплен за мойкой:
                    </td>
                    <td>
                        {% for carwash in context.carwashes %}

                        <div class="input-group mb-3">
                            <div class="input-group-text">
                                <input class="form-check-input" type="checkbox" value="{{ carwash._id }}" {% if
                                       carwash._id== context.user.PinnedCarwashId %}checked{% endif %}>
                            </div>
                            <input type="text" class="form-control" value="{{ carwash.Name }}">
                        </div>

                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td style="width: 200px">
                        Cеть:
                    </td>
                    <td>
                        <select style="width: 350px" class="form-select" name="network">
                            <option disabled="disabled">(не указано)</option>

                            {% for i in context.networks %}
                            <option value="{{i._id}}" {% if i._id== context.user.networks[0] %}
                                    selected="selected"
                                    {% endif %}>{{ i.network_name }}
                            </option>
                            {% endfor %}
                        </select>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
        ________________________________________________________________________________________________<br>
        {{ context['user']}}
        ________________________________________________________________________________________________<br>
    </div>
</div>
<div class="col-sm-2"></div>
{% endblock %}