{% extends "base.html" %}

{% block body %}

<script>
    $(document).ready(function () {
        updating();
    });

    function updating() {
        $('#to_update').click(function () {
            $.ajax({
                type: 'POST',
                url: "{{ url_for('users_blueprint.user', user_id=context['user']._id) }}",
                data: $('#user-info').serialize(),
                success: function () {
                    location.reload();
                },
            });
        });
    }
</script>

<br>
<div class="col-sm-2">
    <button id='to_update' type="button" class="btn btn-sm btn-outline-success">Сохранить</button>
</div>
<div class="col-sm-8 main">
    <div class="table-responsive">
        <form id="user-info">
            <table class="table table-bordered table-center">
                <thead class="table-light">
                <tr>
                    <th scope="col" colspan="3">Сотрудник</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="width: 200px">
                        логин:
                    </td>
                    <td>
                        <span style="width: 350px" type="text" class="form-control">{{ context['user'].login }}</span>

                    </td>
                </tr>
                <tr>
                    <td style="width: 200px">
                        email:
                    </td>
                    <td>
                        <span style="width: 350px" type="text" class="form-control">{{ context['user'].email }}</span>

                    </td>
                </tr>
                <tr>
                    <td style="width: 200px">
                        Cеть:
                    </td>
                    <td>
                        <select style="width: 350px" class="form-select" name="network" disabled>
                            <option disabled="disabled">(не указано)</option>

                            {% for i in context.networks %}
                            <option value="{{i._id}}" {% if i._id== context.user.networks[0] %}
                                    selected="selected"
                                    {% endif %}>{{ i.network_name }}
                            </option>
                            {% endfor %}
                        </select><label>Сеть</label>
                    </td>
                </tr>
                <tr>
                    <td style="width: 200px">
                        Закреплен за мойкой:
                    </td>
                    <td>
                        {% for carwash in context.carwashes %}
                        <input class="check" type="checkbox" name="PinnedCarwashId" value="{{ carwash._id }}" {% if
                               carwash._id== context.user.PinnedCarwashId %}checked{% endif %}>
                        <label>{{ carwash.Name }}</label>&nbsp;&nbsp;&nbsp;
                        {% endfor %}

                    </td>
                </tr>
                </tbody>
            </table>
        </form>
        ________________________________________________________________________________________________<br>
        {{ context['user']}}
        ________________________________________________________________________________________________<br>
    </div>
</div>
<div class="col-sm-2"></div>
{% endblock %}