{% extends "base.html" %}

{% block body %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.tr-user').click(function () {
            window.location = $(this).data('href');
            return false;
        });
    });
</script>
<div class="col-sm-12 main">
    <div class="row">
        <div class="col-sm-8">
            <form method=POST action="#">
                <div class="input-group input-group-sm">
                    <input style="width: 100px"
                           class="form-control"
                           placeholder="Поиск"
                           name="search_field">
                    <select style="width: 150px"
                            class="form-select" id="validationCustom04" name="status">
                        <option value="" selected>Все</option>
                    </select>
                    <button style="width: 80px" type="submit" class="btn btn-outline-secondary input-group-text">Найти
                    </button>
                </div>
            </form>
        </div>
        <div class="col-sm-4 text-end">
            <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('users_blueprint.add_user') }}">
                + Добавить сотрудника
            </a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ник</th>
                <th scope="col">роль</th>
            </tr>
            </thead>
            <tbody class=".table-hover">
            {% for user in context.user_list %}

            <tr class="tr-user" data-href="{{ url_for('users_blueprint.user', user_id=user._id) }}">
                <td>
                    -
                </td>
                <td>
                    {{ user.login }}
                </td>
                <td>
                    {{ user._id }}
                </td>
                <td>
                    {{ user.role }}
                </td>
                <td>
                    {{ user.date_registered | format_datetime }}
                </td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
