{% extends "base.html" %}

{% block body %}
<br>
<div class="container">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-10">
            <main class="container-sm">
                <div class="table-responsive">
                    <div class="table-responsive">
                        <form method=POST action="{{ url_for('admin_blueprint.admin_add_network') }}">
                            <table class="table table-bordered table-center">
                                <thead class="table-light">
                                <tr>
                                    <th scope="col" colspan="3">Добавить Сеть:</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td style="width: 200px">
                                        Название:
                                    </td>
                                    <td>
                                        <input style="width: 100%" type="text" class="form-control" name="name">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 200px">
                                        Владелец:
                                    </td>
                                    <td>
                                        <input style="width: 100%" type="text" class="form-control" name="owner">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <button style="width: auto" type="submit" class="btn btn-outline-secondary">
                                Сохранить
                            </button>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
{% endblock %}