{% extends "base.html" %}

{% block body %}
<br>
<form method=POST action="{{ url_for('admin_blueprint.admin_user_detail', user_id=context['user']._id) }}">
    <div class="container">
        <div class="row">
            <div class="col-2">

                <button style="width: 130px" type="submit" class="btn btn-outline-secondary"
                        href="{{ url_for('admin_blueprint.admin_user_detail', user_id=context['user'].id) }}">
                    Сохранить
                </button>


                <a style="width: 130px" class="btn btn-outline-danger"
                   href="{{ url_for('admin_blueprint.admin_delete_user', user_id=context['user']._id) }}">
                    Удалить
                </a>

            </div>
            <div class="col-10">
                <main class="container-sm">
                    <div class="table-responsive">

                        <table class="table table-bordered table-center">
                            <thead class="table-light">
                            <tr>
                                <th scope="col" colspan="3">Пользователь</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="width: 200px">
                                    логин:
                                </td>
                                <td>
                                    {{ context['user'].login }}
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 200px">
                                    id:
                                </td>
                                <td>
                                    {{ context['user']._id }}
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 200px">
                                    уровень доступа:
                                </td>
                                <td>
                                    <select style="width: 150px" class="form-control"
                                            name="role">
                                        {% for i in enum_roles %}
                                            <option value="{{ i.name }}">{{ i.value }}</option>
                                        {% endfor %}

                                    </select>
                                </label>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 200px">
                                    дата регистрации:
                                </td>
                                <td>
                                    {{ context['user'].date_registered | format_datetime }}
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 200px">
                                    Cеть:
                                </td>
                                <td>
                                    <div class="dropup-center dropup">
                                        <a class="btn btn-secondary dropdown-toggle" type="button"
                                           data-bs-toggle="dropdown" aria-expanded="false">
                                            Сети
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Сеть 1</a></li>
                                            <li><a class="dropdown-item" href="#">Сеть 2</a></li>
                                            <li><a class="dropdown-item" href="#">Сеть 3</a></li>
                                            <li><a class="dropdown-item" href="#">Сеть 4</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>


                        ________________________________________________________________________________________________<br>
                        {{ context['user']}}
                        ________________________________________________________________________________________________<br>
                    </div>
                </main>
            </div>
        </div>
    </div>
</form>
{% endblock %}