{% extends "base.html" %}

{% block body %}


<script>
</script>

<br>
<div class="container">
    <div class="row">
        {% for i in context.carwash_obj.Boxes %}
        <div class="col-4">
            <div class="card text-center">
                <div class="card-header">
                    Бокс {{ i.number }}
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">{{ i.status | status_to_rus }}</h5>
                    <p class="card-text">следующая запись: недоступно</p>
                    <select name="status" style="width: 200px" class="form-select center" required>
                        <option disabled="disabled">статус</option>

                        {% for i in context.status_model %}
                        <option value="{{i.name}}">{{ i.value }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="card-footer text-muted">
                    2 дня спустя
                </div>
            </div>
            <br>
        </div>
        {% endfor %}
    </div>
</div>
<br>

{% endblock %}
