{% extends "base.html" %}

{% block body %}


<script>
</script>

<br>
<div class="container">
    <div class="row">
        {% for i in context.carwash_obj.Boxes %}
        <div class="col-4">
            <div class="card text-center">
                <div class="card-header">
                    Бокс {{ i.number }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ i.status | status_to_rus }}</h5>
                    <p class="card-text">следующая запись: недоступно</p>

                    <a href="#" class="btn btn-outline-warning disabled">Отключить бокс</a>
                </div>
                <div class="card-footer text-muted">
                    2 дня спустя
                </div>
            </div>
            <br>
        </div>
        {% endfor %}
    </div>
</div>
<br>

{% endblock %}
