{% extends "base.html" %}

{% block body %}


<script>
</script>

<br>
<div class="container">
    <div class="row">
        {% for i in range(12) %}
        <div class="col-4">
            <div class="card text-center">
                <div class="card-header">
                    Бокс {{ i }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Свободен</h5>
                    <p class="card-text">следующая запись: 14:00</p>
                    <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
                </div>
                <div class="card-footer text-muted">
                    2 дня спустя
                </div>
            </div>
        </div><br>
        {% endfor %}
    </div>
</div>
<br>

{% endblock %}
