{% extends "base.html" %}

{% block body %}
<br>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.tr-price').click(function () {
            window.location = $(this).data('href');
            return false;
        });
    });
</script>

<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-4"></div>
        <div class="col-1">
            <a class="btn btn-outline-secondary" href="{{ url_for('admin_create_price') }}">+</a>
        </div>
    </div>
</div>


<div class="table-responsive">

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">№</th>

            <th scope="col">id</th>
            <th scope="col">Название</th>
            <th scope="col">Описание</th>
            <th scope="col">Стоимость</th>
            <th scope="col">Тип стоимости</th>

        </tr>
        </thead>
        <tbody class=".table-hover">
        {% for price in context['prices_list'] %}

        <tr class="tr-price" data-href="{{ url_for('admin_price_detail', price_id=price.Id) }}">
            <th scope="row">
                {{ context['count_prices'] - loop.index0 }}
            </th>

            <td>
                {{ price.Id }}
            </td>

            <td>
                {{ price.name }}
            </td>

            <td>
                {{ price.description }}
            </td>
            <td>
                {{'%0.2f'| format(price.categoryPrice.sum|float)}}&#8381
            </td>
            <td>
                {{ price.costType }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

