{% extends "base.html" %}

{% block body %}
<br>

<div class="row justify-content-center">
    <div class="col-2 text-center">
        {% if g.user_db.role == 'admin' %}
        <div class="btn btn-group-vertical" role="group" aria-label="Вертикальная группа кнопок">
            <a class="btn btn-outline-secondary disabled" href="{{ url_for('admin_blueprint.admin_add_network') }}">Добавить Сеть</a>
            <a class="btn btn-outline-secondary" href="{{ url_for('admin_blueprint.remake_fix_date') }}">Пользователи даты</a>
            <a class="btn btn-outline-secondary disabled" href="{{ url_for('admin_blueprint.remake_fix_date_orders') }}">Заказы даты</a>

        </div>
        {% endif %}
    </div>
    <div class="col-8">
        {% if g.user_db.role == 'admin' %}
        <main class="container-sm">
            <div class="table-responsive">

                <table class="table table-bordered table-center">
                    <thead class="table-light">
                    <tr>
                        <th scope="col" colspan="3">
                            {{ g.user_inf.display_name }}#{{ g.user_inf.id }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width: 200px">
                            Логин:
                        </td>
                        <td style="width: 80%">
                            {{ g.user_inf.login }}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 200px">
                            Статус:
                        </td>
                        <td>
                            {{ g.user_db.role }}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 200px">
                            Дата регистрации:
                        </td>
                        <td>
                            {{ g.user_db.date_registered | format_datetime }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
        {% endif %}
    </div>
    <div class="col-2"></div>
</div>
{% endblock %}