{% extends "base.html" %}

{% block body %}
<br>
<div class="container">
    <div class="row">
        <div class="col-2">


            <a class="nav-link" href="{{ url_for('add_carwash_owner') }}" aria-disabled="true">Добавить партнера</a>
            <a class="nav-link" href="#" aria-disabled="true">Ручная отмена заказа</a>
            <a class="nav-link" href="{{ url_for('test') }}" aria-disabled="true">test_zone</a>


        </div>
        <div class="col-10">
            <main class="container-sm">
                <div class="table-responsive">
                    <div class="table-responsive">
                        <form method=POST action="{{ url_for('profile') }}">
                            <table class="table table-bordered table-center">
                                <thead class="table-light">
                                <tr>
                                    <th scope="col" colspan="3">Юридическая информация:</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td style="width: 200px">
                                        ИНН:
                                    </td>
                                    <td style="width: 40%">
                                        <input style="width: 100%" type="text" class="form-control"
                                               name="inn"
                                               value="">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <button style="width: auto" type="submit" class="btn btn-outline-secondary">
                                Сохранить
                            </button>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
{% endblock %}