{% extends "base.html" %}


{% if locker %}
{% block body %}

<caption>Список заказов находящихся в бд:</caption>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('table tbody tr').click(function () {
            window.location = $(this).data('href');
            return false;
        });
    });
</script>

<table class="table table-striped table-bordered">
    <tr>
        <th scope="col">#</th>
        <th scope="col">№ Заказа</th>
        <th scope="col">Дата создания</th>
        <th scope="col">Id Контракта</th>
        <th scope="col">Id Мойки</th>
        <th scope="col">№ Бокса</th>
        <th scope="col">Предоставленные сервисы</th>
        <th scope="col">Статус</th>
        <th scope="col">Сумма стоимости заказа</th>
        <th scope="col">Сумма списания</th>
        <th scope="col">Выплачено партнеру</th>
    </tr>

    {% for post in context['posts'] %}
    <tr data-href="{{ url_for('order_detail', order_id=order.Id) }}">

        <th scope="row">
            <div><p>{{ context['count_orders'] - loop.index0 }}</p></div>
        </th>
        <td>
            <div><p>{{ order.Id }}</p></div>
        </td>

        <td>
            <div><p>{{ order.DateCreateMy }}</p></div>
        </td>

        <td>
            <div><p>{{ order.ContractId }}</p></div>
        </td>
        <td>
            <div><p>{{ order.CarWashId }}</p></div>
        </td>
        <td>
            <div><p>{{ order.BoxNumber }}</p></div>
        </td>
        <td>
            {% for service in order.Services %}
            <div>id: {{ service.Id }}</div>
            <div>Имя: {{ service.Description }}</div>
            <div>Цена: {{ service.Cost }}</div>
            {% endfor %}
        </td>
        <td>
            <div><p>{{ order.Status }}</p></div>
        </td>

        <td class="text-end">
            {{ order.Sum }}
        </td>
        <td class="text-end">
            {{ order.SumCompleted }}
        </td>
        <td class="text-end">

            {{ order.SumPaidStationCompleted }} &#8381
        </td>

    </tr>

    {% endfor %}
</table>

{% endblock %}

{% else %}
{% endif %}


