{% extends "base.html" %}


{% if locker %}
{% block body %}

<caption>Список заказов находящихся в бд:</caption>

<table class="table table-striped table-bordered">
        <tr>
            <th scope="col">#</th>
            <th scope="col">№ Заказа</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Id Контракта</th>
            <th scope="col">Id Мойки</th>
            <th scope="col">№ Бокса</th>
            <th scope="col">Предоставленные сервисы</th>
            <th scope="col">Статус</th>
            <th scope="col">Сумма стоимости заказа</th>
            <th scope="col">Сумма списания</th>
            <th scope="col">Выплачено партнеру</th>
        </tr>

        {% for post in context['posts'] %}
        <tr>

            <th scope="row">
                <div><p>{{ context['count_orders'] - loop.index0 }}</p></div>
            </th>
            <td>
                <div><p>{{ post.Id }}</p></div>
            </td>

            <td>
                <div><p>{{ post.DateCreateMy }}</p></div>
            </td>

            <td>
                <div><p>{{ post.ContractId }}</p></div>
            </td>
            <td>
                <div><p>{{ post.CarWashId }}</p></div>
            </td>
            <td>
                <div><p>{{ post.BoxNumber }}</p></div>
            </td>
            <td>
                {% for service in post.Services %}
                <div>id: {{ service.Id }}</div>
                <div>Имя: {{ service.Description }}</div>
                <div>Цена: {{ service.Cost }}</div>
                {% endfor %}
            </td>
            <td>
                <div><p>{{ post.Status }}</p></div>
            </td>

            <td class="text-end">
                {{ post.Sum }}
            </td>
            <td class="text-end">
                {{ post.SumCompleted }}
            </td>
            <td class="text-end">

                {{ post.SumPaidStationCompleted }}	&#8381
            </td>

        </tr>

        {% endfor %}
    </table>

{% endblock %}

{% else %}
{% endif %}


