{% extends "base.html" %}

{% block body %}
<caption>Детали заказа находящегося в бд:</caption>

<table class="table table-striped table-bordered">
    <tr>
        <th scope="col">№ Заказа</th>
        <th scope="col">Дата создания</th>
        <th scope="col">Id Контракта</th>
        <th scope="col">Id Мойки</th>
        <th scope="col">№ Бокса</th>
        <th scope="col">Предоставленные сервисы</th>
        <th scope="col">Статус</th>
        <th scope="col">Сумма стоимости заказа</th>
        <th scope="col">Сумма списания</th>
        <th scope="col">Выплачено партнеру</th>
    </tr>

    <tr>

        <td>
            {{ context['order'].Id }}
        </td>

        <td>
            {{ context['order'].DateCreate | format_datetime }}
        </td>

        <td>
            {{ context['order'].ContractId }}
        </td>
        <td>
            {{ context['order'].CarWashId }}
        </td>
        <td>
            {{ context['order'].BoxNumber }}
        </td>
        <td>
            {% for service in context['order'].Services %}
            id: {{ service.Id}}<br>
            Имя: {{ service.Description }}<br>
            Цена: {{ service.Cost }}<br>
            {% endfor %}
        </td>
        <td>
            {{ context['order'].Status }}
        </td>

        <td class="text-end">
            {{'%0.2f'| format(context['order'].Sum|float)}}&#8381

        </td>
        <td class="text-end">
            {{'%0.2f'| format(context['order'].SumCompleted|float)}}&#8381

        </td>
        <td class="text-end">
            {{'%0.2f'| format(context['order'].SumPaidStationCompleted|float)}}&#8381
        </td>

    </tr>

</table>

<div class="container">
    <table class="table-bordered">
        <thead class="table-light">
        <tr>
            <th scope="col" colspan="2">Мойка</th>
        </tr>
        </thead>
        <tr>
            <td>
                Тип договора:
            </td>
            <td>
                {{ context['order'].ContractId }}
            </td>
        </tr>
        <tr>
            <td>
                Id Мойки:
            </td>
            <td>
                {{ context['order'].CarWashId }}
            </td>

        </tr>

    </table>
</div>

<script src="https://api-maps.yandex.ru/2.1?da34ec26-a505-4cba-b181-99e02e03caa5&lang=ru_RU"
        type="text/javascript">
</script>

<script type="text/javascript" charset="utf-8" async
        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?da34ec26-a505-4cba-b181-99e02e03caa5&width=100%&height=400&lang=ru_RU&sourceType=constructor&scroll=true">
</script>
{% set location_var=context.location  %}
<script type="text/javascript">
    document.querySelector("#id")
    ymaps.ready(function () {
        var myMap = new ymaps.Map("YMapsID", {
            center: [55.76, 37.64],
            zoom: 10,
        });
        var my_var = {
        {
            location_var | safe
        }
    }
        var myPlacemark = new ymaps.Placemark(my_var, {
            hintContent: 'Москва!',
            balloonContent: 'Столица России'
        });

        myMap.geoObjects.add(myPlacemark);

    });
</script>

<div id="YMapsID" style="width: 450px; height: 350px;"></div>

{% endblock %}