{% extends "base.html" %}

{% block body %}
<caption>Детали заказа находящегося в бд:</caption>

<table class="table table-striped table-bordered">
    <tr>


        <th scope="col">Предоставленные сервисы</th>
        <th scope="col">Статус</th>
        <th scope="col">Сумма стоимости заказа</th>
        <th scope="col">Сумма списания</th>
        <th scope="col">Выплачено партнеру</th>
    </tr>

    <tr>

        <td>
            {% for service in context['order'].Services %}
            id: {{ service.Id}}<br>
            Имя: {{ service.Description }}<br>
            Цена: {{ service.Cost }}<br>
            {% endfor %}
        </td>
        <td>
            {{ context['order'].Status }}
        </td>

        <td class="text-end">
            {{'%0.2f'| format(context['order'].Sum|float)}}&#8381

        </td>
        <td class="text-end">
            {{'%0.2f'| format(context['order'].SumCompleted|float)}}&#8381

        </td>
        <td class="text-end">
            {{'%0.2f'| format(context['order'].SumPaidStationCompleted|float)}}&#8381
        </td>

    </tr>

</table>
<div class="container-xxl my-md-4 bd-layout">
    <aside class="bd-sidebar">

        <ul>
            <li>TEXT</li>
            <li>TEXT</li>
            <li>TEXT</li>
        </ul>

    </aside>

    <main class="container-sm">
        <table class="table table-bordered table-center">
            <thead class="table-light">
            <tr>
                <th scope="col" colspan="3">Мойка</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="20%">
                    Тип договора:
                </td>
                <td width="40%">
                    <input type="text" class="form-control-sm" value="{{ context['order'].ContractId }}">
                </td>
                <td rowspan="3" width="30%">
                        <img src="https://static-maps.yandex.ru/1.x/?l=map&z=15&size=500,350&pt={{ context.location['longitude'] }},{{ context.location['latitude'] }}">
                </td>
            </tr>
            <tr>
                <td width="20%">
                    Id Мойки:
                </td>
                <td width="20%">
                    <input type="text" class="form-control-sm" value="{{ context['order'].CarWashId }}">
                </td>

            </tr>
            <tr>
                <td width="20%">
                    Id Бокса:
                </td>
                <td width="20%">
                    <input type="text" class="form-control-sm" value="{{ context['order'].BoxNumber }}">
                </td>
            </tr>
            </tbody>
        </table>

        <table class="table table-bordered table-center">
            <thead class="table-light">
            <tr>
                <th scope="col" colspan="2">Заказ</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="20%">
                    № Заказа:
                </td>
                <td width="20%">
                    <input type="text" class="form-control-sm" value="{{ context['order'].Id }}">
                </td>
            </tr>
            <tr>
                <td width="20%">
                    Дата создания:
                <td width="20%">
                    <input type="text" class="form-control-sm"
                           value="{{ context['order'].DateCreate | format_datetime }}">
                </td>
            </tr>
            </tbody>
        </table>
    </main>
</div>
<script src="https://api-maps.yandex.ru/2.1?da34ec26-a505-4cba-b181-99e02e03caa5&lang=ru_RU"
        type="text/javascript">
</script>

<script type="text/javascript" charset="utf-8" async
        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?da34ec26-a505-4cba-b181-99e02e03caa5&width=100%&height=400&lang=ru_RU&sourceType=constructor&scroll=true">
</script>
{% set location_var=context.location  %}
<script type="text/javascript">
    document.querySelector("#id")
    ymaps.ready(function () {
        var myMap = new ymaps.Map("YMapsID", {
            center: [55.76, 37.64],
            zoom: 10,
        });
        var my_var = location_var | safe
        var myPlacemark = new ymaps.Placemark(my_var, {
            hintContent: 'Москва!',
            balloonContent: 'Столица России'
        });

        myMap.geoObjects.add(myPlacemark);

    });
</script>

<div id="YMapsID" style="width: 450px; height: 350px;"></div>

{% endblock %}