{% extends "base.html" %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-2">
            Контакты мойки:
            <aside class="bd-sidebar">
                <ul>
                    <li>Адрес: ________</li>
                    <li>Часы работы: _______</li>
                    <li>Номер телефона: _______</li>
                </ul>
            </aside>
        </div>
        <div class="col-10">
            <main class="container-sm">
                <table class="table table-bordered table-center">
                    <thead class="table-light">
                    <tr>
                        <th scope="col" colspan="3">Мойка</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width: 200px">
                            Тип договора:
                        </td>
                        <td>
                            <input type="text" class="form-control-sm"
                                   value="{{ context['order'].ContractId }}">
                        </td>
                        <td rowspan="3">
                            <img src="https://static-maps.yandex.ru/1.x/?l=map&z=17&size=350,350&pt={{ context.location['longitude'] }},{{ context.location['latitude'] }},org">
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 200px">
                            Id Мойки:
                        </td>
                        <td>
                            <input width="20%" type="text" class="form-control-sm"
                                   value="{{ context['order'].CarWashId }}">
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 200px">
                            Id Бокса:
                        </td>
                        <td>
                            <input type="text" class="form-control-sm"
                                   value="{{ context['order'].BoxNumber }}">
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-bordered table-center">
                    <thead class="table-light">
                    <tr>
                        <th scope="col" colspan="2">Заказ</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width: 200px">
                            № Заказа:
                        </td>
                        <td>
                            <input type="text" class="form-control-sm"
                                   value="{{ context['order'].Id }}">
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 200px">
                            Дата создания:
                        </td>
                        <td>
                            <input type="text" class="form-control-sm"
                                   value="{{ context['order'].DateCreate | format_datetime }}">
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 200px">
                            Статус заказа:
                        </td>
                        <td>
                            <input type="text" class="form-control-sm"
                                   value="{{ context['order'].Status }}">
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 200px">
                            Оказанный сервис:
                        </td>
                        <td>
                            {% for service in context['order'].Services %}
                            <input type="text" class="form-control-sm"
                                   value="Наименование: {{ service.Description }}"><br>
                            <input type="text" class="form-control-sm"
                                   value="Цена: {{ service.Cost }}"><br>
                            <input type="text" class="form-control-sm" value="id: {{ service.Id}}"><br>
                            <br>
                            {% endfor %}
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-bordered table-center">
                    <thead class="table-light">
                    <tr>
                        <th scope="col" colspan="2">Оплата</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width: 200px">
                            Сумма стоимости заказа:
                        </td>
                        <td>
                            <input type="text" class="form-control-sm"
                                   value="{{'%0.2f'| format(context['order'].Sum|float)}}&#8381">
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 200px">
                            Сумма списания:
                        </td>
                        <td>
                            <input type="text" class="form-control-sm"
                                   value="{{'%0.2f'| format(context['order'].SumCompleted|float)}}&#8381">
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 200px">
                            Выплачено партнеру:
                        </td>
                        <td>
                            <input type="text" class="form-control-sm"
                                   value="{{'%0.2f'| format(context['order'].SumPaidStationCompleted|float)}}&#8381">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </main>
        </div>
    </div>
</div>
{% endblock %}