{% extends "base.html" %}

{% block body %}
<br>
<div class="container">
    <div class="row">
        <div class="col-2">
            Контакты мойки:
            <aside class="bd-sidebar">
                <ul>
                    <li>Адрес: ________</li>
                    <li>Часы работы: _______</li>
                    <li>Номер телефона: _______</li>
                </ul>
            </aside>
        </div>
        <div class="col-10">
            <main class="container-sm">
                <div class="table-responsive">

                    <table class="table table-bordered table-center">
                        <thead class="table-light">
                        <tr>
                            <th scope="col" colspan="3">Пользователь</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="width: 200px">
                                id:
                            </td>
                            <td style="width: 40%">
                                <input style="width: 100%" type="text" class="form-control"
                                       value="{{ context['user']['id'] }}">
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 200px">
                                psuid:
                            </td>
                            <td>
                                <input style="width: 100%" width="20%" type="text" class="form-control"
                                       value="{{ context['user'].psuid }}">
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 200px">
                                логин:
                            </td>
                            <td>
                                <input style="width: 100%" type="text" class="form-control"
                                       value="{{ context['user'].login }}">
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 200px">
                                уровень доступа:
                            </td>
                            <td>
                                <input style="width: 100%" type="text" class="form-control"
                                       value="{{ context['user'].access_level }}">
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 200px">
                                дата регистрации:
                            </td>
                            <td>
                                <input style="width: 100%" type="text" class="form-control"
                                       value="{{ context['user'].date_registered }}">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
</div>
{% endblock %}