{% extends "base.html" %}

{% block body %}
<br>
<form method=POST action="{{ url_for('user_detail', user_id=context['user'].id) }}">
    <div class="container">
        <div class="row">
            <div class="col-2">

                <button style="width: auto" type="submit" class="btn btn-outline-secondary"
                        href="{{ url_for('user_detail', user_id=context['user'].id) }}">
                    Сохранить
                </button>


                <a style="width: auto" class="btn btn-outline-danger"
                   href="{{ url_for('admin_delete_user', user_id=context['user'].id) }}">
                    Удалить
                </a>

            </div>
            <div class="col-10">
                <main class="container-sm">
                    <div class="table-responsive">

                        <table class="table table-bordered table-center">
                            <thead class="table-light">
                            <tr>
                                <th scope="col" colspan="3">Пользователь</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="width: 200px">
                                    логин:
                                </td>
                                <td>
                                    {{ context['user'].login }}
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 200px">
                                    id:
                                </td>
                                <td style="width: 40%">
                                    {{ context['user'].id }}
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 200px">
                                    уровень доступа:
                                </td>
                                <td>

                                    <input style="width: 100%" type="text" class="form-control" name="access_level"
                                           value="{{ context['user'].access_level }}">
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 200px">
                                    дата регистрации:
                                </td>
                                <td>
                                    {{ context['user'].date_registered | format_datetime }}
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 200px">
                                    psuid:
                                </td>
                                <td>
                                    {{ context['user'].psuid }}
                                </td>
                            </tr>
                            </tbody>
                        </table>


                        ________________________________________________________________________________________________<br>
                        {{ context['user']}}
                        ________________________________________________________________________________________________<br>
                    </div>
                </main>
            </div>
        </div>
    </div>
</form>
{% endblock %}