{% extends "base.html" %}


{% block body %}
<br>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.tr-order').click(function () {
            window.location = $(this).data('href');
            return false;
        });
    });
</script>
<div class="container-fluid">
    <form method=POST action="{{ url_for('orders_list') }}">
        <div class="row justify-content-start">
            &nbsp;<input style="width: 100px" class="form-control" placeholder="Поиск" name="search_field"
                         aria-describedby="addon-wrapping">
            &nbsp;<select style="width: 150px" class="form-control" id="validationCustom04" name="status">
            <option value="">Статус</option>
            <option value="OrderCreated">OrderCreated</option>
            <option value="Completed">Completed</option>
            <option value="UserCanceled">UserCanceled</option>
            <option value="Canceled">Canceled</option>
        </select>
            &nbsp;<input style="width: 150px" value="{{ context['date'] | format_datetime }}" class="form-control"
                         placeholder="{{ context['date'] | format_datetime }}"
                         type="date" name="date" aria-describedby="addon-wrapping"><input style="width: 100px"
                                                                                          class="form-control"
                                                                                          placeholder="00:00"
                                                                                          name="time"
                                                                                          aria-describedby="addon-wrapping">
            <!-- DATETIMEPICKER bootstrap.min.js -->
            &nbsp;<button style="width: 80px" type="submit" class="btn btn-outline-secondary">Найти</button>
        </div>
    </form>

</div>
<div class="table-responsive">

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Название Мойки</th>
            <th scope="col">Предоставленные сервисы</th>
            <th scope="col">Статус заказа</th>
            <th scope="col">Сумма заказа</th>
            <th scope="col">Сумма списания</th>
            <th scope="col">Выплачено партнеру</th>
        </tr>
        </thead>
        <tbody class=".table-hover">
        {% for order in context['orders_list'] %}

        <tr class="tr-order" data-href="{{ url_for('order_detail', order_id=order.Id) }}">

            <th scope="row">
                {{ context['count_orders'] - loop.index0 }}
            </th>
            <td>
                {{ order.DateCreate | format_datetime }}
            </td>
            <td>
                test_carwash {{ order.CarWashId | format_name_point }}
            </td>
            <td>
                Имя:
                {% for service in order.Services %}
                {{ service.Description }}
                {% endfor %}
            </td>
            <td>
                {{ order.Status }}
            </td>

            <td class="text-end">
                {{'%0.2f'| format(order.Sum|float)}}&#8381

            </td>
            <td class="text-end">
                {{'%0.2f'| format(order.SumCompleted|float)}}&#8381
            </td>
            <td class="text-end">
                {{'%0.2f'| format(order.SumPaidStationCompleted|float)}}&#8381
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


