{% extends "base.html" %}

{% block body %}
<script>
    $(document).ready(function () {
        accept();
        decline();
        complete();
    });

    function accept() {
        $('#to_accept').click(function () {
            $('#modal_accept').modal('show');
            console.log('accept');
        });
    }

    function decline() {
        $('#to_decline').click(function () {
            $('#modal_cancel').modal('show');
            console.log('cancel');
        });
    }

    function complete() {
        $('#to_complete').click(function () {
            $('#modal_complete').modal('show');
            console.log('complete');
        });
    }

</script>

<br>
<div class="container">

    <div class="row">
        {% if g.user_db.role != 'admin' %}
        <div class="col-2">
            <div class="btn-group-vertical" role="group" aria-label="Вертикальная группа кнопок">
                {% if context['order'].Status == 'OrderCreated' %}
                <button type="button" class="btn btn-outline-secondary" id="to_accept">Принять в работу</button>
                <button type="button" class="btn btn-outline-secondary" id="to_decline">Отменить заказ</button>
                {% elif context['order'].Status == 'Accepted' %}
                <button type="button" class="btn btn-outline-secondary" id="to_complete">Подтвердить выполнение</button>
                {% endif %}
            </div>
        </div>
        {% else %}
        <div class="col-2"></div>
        {% endif %}

        <main class="col-10">
            <div class="container">
                <div class="table-responsive">

                    <table class="table table-center align-middle">
                        <thead class="table-light">
                        <tr>
                            <th>{{context.order.ContractId | format_ContractId}}:</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="width: 200px">
                                Данные клиента:
                            </td>
                            <td>
                                <div class="input-group input-group-sm">
                                    <input style="width: 200px" type="text" class="form-control"
                                           name="order_user_name" value="{{ context.order.order_user_name }}"
                                           placeholder="Имя" disabled>
                                    <input style="width: 200px" type="tel" class="form-control"
                                           name="phone_number" value="{{ context.order.phone_number }}"
                                           placeholder="Телефон" disabled>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 200px">
                                Транспорт:
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col">
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-text">Название:</span>
                                            <input style="width: 50px" type="text" class="form-control"
                                                   name="car_brand" value="{{ context.order.CarBrand }}"
                                                   placeholder="Марка" disabled>
                                            <input style="width: 50px" type="text" class="form-control"
                                                   name="car_model" value="{{ context.order.CarModel }}"
                                                   placeholder="Модель" disabled>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-text">Категория:</span>
                                            <input type="text" class="form-control" name="country_region_number"
                                                   style="width: 100px" value="{{ context.order.Category | format_category_car}}"
                                                   placeholder="А999АА799" aria-label="А999АА799" disabled>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-text">Гос.Номер:</span>
                                            <input type="text" class="form-control" name="country_region_number"
                                                   style="width: 100px" value="{{ context.order.CarNumber }}"
                                                   placeholder="А999АА799" aria-label="А999АА799" disabled>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Расстановка:
                            </td>
                            <td>
                                <div class="row">
                                    <div class="col">
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-text">Бокс:</span>
                                            <input type="text" class="form-control"
                                                   value="{{ context.order.BoxNumber }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-text">Дата:</span>
                                            <input style="width: 1px"
                                                   value="{{ context.order.DateCreate | format_datetime_to_dmy }}"
                                                   class="form-control"
                                                   placeholder=""
                                                   type="text"
                                                   name="date" aria-describedby="addon-wrapping" disabled>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="input-group input-group-sm">
                                            {% if context.order.ContractId == "OWN" %}
                                            <span class="input-group-text">Старт:</span>
                                            <input style="width: 60px"
                                                   value="{{ context.order.DateStart | format_datetime_to_HM }}"
                                                   class="form-control"
                                                   placeholder=""
                                                   type="text"
                                                   name="date" aria-describedby="addon-wrapping" disabled>
                                        </div>
                                        <div class="input-group input-group-sm">

                                            <span class="input-group-text">Конец:</span>
                                            <input style="width: 60px"
                                                   value="{{ context.order.DateEnd | format_datetime_to_HM }}"
                                                   class="form-control"
                                                   placeholder=""
                                                   type="text"
                                                   name="date" aria-describedby="addon-wrapping" disabled>
                                            {% else %}
                                            <span class="input-group-text">Время создания:</span>
                                            <input style="width: 100px"
                                                   value="{{ context.order.DateCreate | format_datetime_to_HM }}"
                                                   class="form-control"
                                                   placeholder=""
                                                   type="text"
                                                   name="date" aria-describedby="addon-wrapping" disabled>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-center align-middle">
                        <thead class="table-light">
                        <tr>
                            <th>Оказанные услуги:</th>
                            <th class="text-end">Стоимость:</th>
                            <th class="text-center">Кол-во:</th>
                            <th class="text-end">Итог: {{ context.order.Sum }} &#8381:</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if context.basket is none %}
                        {% else %}
                        {% for price in context.basket %}
                        {% if price.status == 'active' %}
                        <tr id="{{price._id}}">
                            <td style="width: 365px;">
                                <b>{{ price.name }}</b><br>
                                {{ price.description }}
                            </td>
                            <td class="text-end price">
                                <input hidden="hidden" name="basecost_{{price._id}}"
                                       value="{{price.categoryPrice['sum']}}">
                                {{ price.categoryPrice['sum'] }} &#8381
                            </td>
                            <td class="text-center">
                                {{price.amount}}
                            </td>
                            <td class="text-end">
                                {{ price.pretotal_price }} &#8381
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        {% endif %}

                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</div>
<br>
<!-- Модальное окно -->
<div class="modal fade" id="modal_cancel" data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel3">Отмена заказа
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                Прежде чем отменить заказ:<br>
                УБЕДИТЕСЬ В СВОЕМ ДЕЙСТВИИ
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    Закрыть
                </button>

                <a class="btn btn-outline-danger"
                   href="{{ url_for('order_blueprint.order_cancel', order_id=context.order._id) }}">Отменить
                </a>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="modal_accept" data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Прием в работу
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                Прежде чем подтвердить заказ:<br>
                УБЕДИТЕСЬ В ВЕРНОСТИ КАТЕГОРИИ АВТО
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    Закрыть
                </button>

                <a class="btn btn-outline-success"
                   href="{{ url_for('order_blueprint.order_accept', order_id=context.order._id) }}">Принять
                </a>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_complete" data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel2">Подтвердить выполнение
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                ДАЛЕЕ ЗАКАЗ СЧИТАЕТСЯ ВЫПОЛНЕННЫМ
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    Закрыть
                </button>

                <a href="{{ url_for('order_blueprint.order_complete', order_id=context.order._id) }}"
                   class="btn btn-outline-success">Заказ выполнен
                </a>

            </div>
        </div>
    </div>
</div>

{% endblock %}