{% extends "base.html" %}

{% block body %}
<h1>Профиль</h1><br>

    Имя пользователя: {{ context['user']['display_name'] }}<br>
    Контактный номер телефона: {{ context['user']['default_phone']['number'] }}<br>

    <button> + Создать Мойку</button><br>


    <button>Список Моек</button><br>
____________________________________________________________________________________________________________________<br>
    {% for inf in context['inf_list'] %}
    {{ inf }} <br>
    {% endfor %}
{% endblock %}


