{% extends "base.html" %}

{% block body %}
<br>
<div class="container">
    <div class="row">
        <div class="col-2">
            Контакты мойки:
            <aside class="bd-sidebar">
                <ul>
                    <li>Адрес: ________</li>
                    <li>Часы работы: _______</li>
                    <li>Номер телефона: _______</li>
                </ul>
            </aside>
        </div>
        <div class="col-10">
            <main class="container-sm">
                <div class="table-responsive">
                    <form method=POST action="{{ url_for('user_detail', user_id=context['user'].id) }}">
                        <table class="table table-bordered table-center">
                            <thead class="table-light">
                            <tr>
                                <th scope="col" colspan="3">Ваши данные</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="width: 200px">
                                    логин:
                                </td>
                                <td>
                                    {{ context['user'].login }}
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 200px">
                                    id:
                                </td>
                                <td style="width: 40%">
                                    {{ context['user'].id }}
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 200px">
                                    уровень доступа:
                                </td>
                                <td>
                                    {{ context['user'].access_level }}
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 200px">
                                    дата регистрации:
                                </td>
                                <td>
                                    {{ context['user'].date_registered | format_datetime }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        {% if context['status'] == new_user %}
                        <div class="col-1">
                            <button style="width: auto" class="btn btn-outline-secondary"
                                    href="{{ url_for('fill_company') }}">
                                Сохранить
                            </button>
                        </div>
                        {% else %}

                        {% endif %}


                    </form>
                </div>
            </main>
        </div>
    </div>
</div>
{% endblock %}