{% extends "base.html" %}


{% if locker %}
{% block body %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.tr-carwash').click(function () {
            window.location = $(this).data('href');
            return false;
        });
    });
</script>

<table class="table table-striped table-bordered">
    <tr>
        <th scope="col">№ Мойки</th>
        <th scope="col">Id Мойки</th>
        <th scope="col">Имя Мойки</th>
        <th scope="col">Статус</th>
        <th scope="col">Адрес</th>
        <th scope="col">Координаты</th>
        <th scope="col">Тип</th>
        <th scope="col">Минимальный шаг суммы заказа</th>
        <th scope="col">Минимальная сумма заказа</th>

    </tr>
    {% for carwash in context['carwashes_list'] %}
        <tr class="tr-carwash" data-href="{{ url_for('carwash_detail', carwash_id=carwash.Id) }}">

            <th scope="row">
                {{ context['count_carwashes'] - loop.index0 }}
            </th>
            <td>
                {{ carwash.Id }}
            </td>
            <td>
                {{ carwash.Name }}
            </td>
            <td>
                {{ carwash.Enable }}
            </td>
            <td>
                {{ carwash.Address }}
            </td>
            <td>
                {{ carwash.Location.lat }}, {{ carwash.Location.lon }}
            </td>
            <td>
                {{ carwash.Type }}
            </td>
            <td>
                {{'%0.2f'| format(carwash.StepCost|float)}}&#8381
            </td>
            <td>
                {{'%0.2f'| format(carwash.LimitMinCost|float)}}&#8381
            </td>
            <td>
                {% for box in carwash.Boxes %}
                {{ box.number }}<br>
                {{ box.status }}<br>
                {% endfor %}
            </td>
            <td>
                {% for price in carwash.Price %}
                {{ price.Id }}<br>
                {{ price.description }}<br>
                {{ price.cost }}<br>
                {{ price.costType }}<br>
                {% endfor %}
            </td>


        </tr>

    {% endfor %}
</table>

{% endblock %}

{% else %}
{% endif %}


