{% extends "profile/base_4_users.html" %}

{% block body %}
<br>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.tr-order').click(function () {
            window.location = $(this).data('href');
            return false;
        });
    });
</script>
<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-4">

            <form method=POST action="{{ url_for('orders_list') }}">
                <div class="row justify-content-start">
                    &nbsp;<input style="width: 100px" class="form-control" placeholder="Поиск" name="search_field"
                                 aria-describedby="addon-wrapping">
                    &nbsp;<select style="width: 150px" class="form-control" id="validationCustom04" name="status">
                    <option value="">Статус</option>
                    <option value="OrderCreated">OrderCreated</option>
                    <option value="Completed">Completed</option>
                    <option value="UserCanceled">UserCanceled</option>
                    <option value="Canceled">Canceled</option>
                </select>
                    &nbsp;<button style="width: 80px" type="submit" class="btn btn-outline-secondary">Найти</button>
                </div>
            </form>
        </div>
        <div class="col-1">
            <a class="btn btn-outline-secondary" href="{{ url_for('create_carwash') }}">+</a>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">№</th>

            <th scope="col">Имя Мойки</th>
            <th scope="col">Адрес</th>
            <th scope="col">Статус</th>
            <th scope="col">Тип</th>
            <th scope="col">Мин. шаг суммы</th>
            <th scope="col">Мин. стоимость</th>
            <th scope="col">Боксы</th>
            <th scope="col">Услуги</th>
        </tr>
        </thead>
        <tbody class=".table-hover">
        {% for carwash in context['carwashes_list'] %}

        <tr class="tr-order" data-href="{{ url_for('carwash_detail', carwash_id=carwash['Id']) }}">
            <th scope="row">
                {{ context['count_carwashes'] - loop.index0 }}
            </th>

            <td>
                {{ carwash.Name }}
            </td>

            <td>
                {{ carwash.Address }}
            </td>

            <td>
                {{ carwash.Enable }}
            </td>
            <td>
                {{ carwash.Type }}
            </td>
            <td>
                {{'%0.2f'| format(carwash.StepCost|float)}}&#8381
            </td>
            <td>
                {{'%0.2f'| format(carwash.LimitMinCost|float)}}&#8381
            </td>
            <td>
                {% for box in carwash.Boxes %}
                {{ box.number }} - {{ box.status }}<br>
                {% endfor %}
            </td>
            <td>
                {% for price in carwash.Price %}
                {{ price.description }}: {{ price.cost }}<br>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

