{% extends 'base.html' %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-4">
    <form action="{{ url_for('create_carwash') }}" method="post" class="form-contact">
        {% for field in form if field.name not in ['csrf_token', 'Submit'] %}
        <tr>
            {% if field.type == "BooleanField" %}
            {{ field.label }} {{ field }}<br>
            {% elif field.type == "RadioField" %}
            {{ field.label }}
            {{ field }}<br>
            {% elif field.type == "IntegerField" %}
            {{ field.label }}<br>
            {{ field }}<br>
            {% else %}
            {{ field.label }}
            {{ field(class="form-control") }}
            {% endif %}
        </tr>
        {% endfor %}
        <p>
        <div>{{ form.Submit(class="btn btn-primary btn-block") }}</div>
    </form>
</div>
</div>

{% endblock %}