{% extends 'base.html' %}

{% block body %}
<br>
<div class="row justify-content-center">
    <div class="col-10">
        <form action="{{ url_for('create_carwash') }}" method="post" class="form-contact">

            <table class="table table-bordered table-center align-middle">
                <thead class="table-light">
                <tr>
                    <th scope="col" colspan="3">Мойка</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="width: 200px">
                        Название:
                    </td>
                    <td>
                        <input style="width: 100%" type="text" class="form-control" required>
                    </td>
                </tr>
                <tr>
                    <td style="width: 200px">
                        Адрес:
                    </td>
                    <td>
                        <input style="width: 100%" type="text" class="form-control" required>
                    </td>
                </tr>
                <tr>
                    <td style="width: 200px">
                        Локация:
                    </td>
                    <td>
                        <div class="row justify-content-evenly">
                            <input style="width: 48%" type="text" class="form-control"
                                   required placeholder="latitude">
                            <input style="width: 48%" type="text" class="form-control"
                                   required placeholder="longitude">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 200px">
                        Кол-во боксов:
                    </td>
                    <td>
                        <input style="width: 100%" type="text" class="form-control" required>
                    </td>
                </tr>
                <tr>
                    <td style="width: 200px">
                        Тип услуг:
                    </td>
                    <td>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="hand_carwash" id="hand_carwash">
                            <label class="form-check-label" for="hand_carwash">
                                Ручная мойка
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="wheel_station" id="wheel_station">
                            <label class="form-check-label" for="wheel_station">
                                Шиномонтаж
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="detaling" id="detaling">
                            <label class="form-check-label" for="detaling">
                                Детейлинг
                            </label>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="width: 200px">
                        Состояние Мойки:
                    </td>
                    <td>
                        <input type="checkbox" class="btn-check" id="Status" checked autocomplete="off">
                        <label class="btn btn-outline-secondary" for="Status">Checked</label><br>
                    </td>
                </tr>
                </tbody>
            </table>

        </form>
    </div>
</div>

{% endblock %}