{% extends 'base.html' %}

{% block body %}
<br>
<div class="row justify-content-center">
    <div class="col-2">
    </div>
    <div class="col-8">
        <form method=POST action="{{ url_for('create_carwash') }}">
            <table class="table table-bordered table-center align-middle">
                <thead class="table-light">
                <tr>
                    <th scope="col" colspan="3">Мойка</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="width: 200px">
                        Название:
                    </td>
                    <td>
                        <input name="name" style="width: 100%" type="text" class="form-control" required>
                    </td>
                </tr>
                <tr>
                    <td style="width: 200px">
                        Адрес:
                    </td>
                    <td>
                        <input name="address" style="width: 100%" type="text" class="form-control" required>
                    </td>
                </tr>
                <tr>
                    <td style="width: 200px">
                        Локация:
                    </td>
                    <td>
                        <div class="row justify-content-evenly">
                            <input name="lat" style="width: 48%" type="text" class="form-control"
                                   required placeholder="latitude">
                            <input name="lon" style="width: 48%" type="text" class="form-control"
                                   required placeholder="longitude">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width: 200px">
                        Кол-во боксов:
                    </td>
                    <td>
                        <input name="amount_boxes" style="width: 100%" type="text" class="form-control" required>
                    </td>
                </tr>
                <tr>
                    <td style="width: 200px">
                        Оказываемые услуги:
                    </td>
                    <td>
                        <div class="form-check-inline">
                            <input name="is_hand_carwash" type="checkbox" class="btn-check" id="hand_carwash"
                                   autocomplete="off">
                            <label class="btn btn-outline-secondary" for="hand_carwash">Ручная мойка</label><br>
                        </div>
                        <div class="form-check-inline">

                            <input name="is_wheel_station" type="checkbox" class="btn-check" id="wheel_station"
                                   autocomplete="off">
                            <label class="btn btn-outline-secondary" for="wheel_station">Шиномонтаж</label><br>
                        </div>
                        <div class="form-check-inline">

                            <input name="is_detaling" type="checkbox" class="btn-check" id="detaling"
                                   autocomplete="off">
                            <label class="btn btn-outline-secondary" for="detaling">Детейлинг</label><br>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="width: 200px">
                        Состояние Мойки:
                    </td>
                    <td>
                        <input type="radio" class="btn-check" name="status" value="enable"
                               id="status"
                               autocomplete="off">
                        <label class="btn btn-outline-success" for="status">Активна</label>
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
            <table class="table table-bordered table-center align-middle">
                <thead class="table-light">
                <tr>
                    <th scope="col" colspan="10">Прейскурант</th>
                </tr>
                <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Кат.1</th>
                    <th scope="col">Кат.2</th>
                    <th scope="col">Кат.3</th>
                    <th scope="col">Кат.4</th>
                    <th scope="col">Кат.5</th>
                </tr>
                </thead>
                </thead>
                <tbody>
                {% for price in context['prices_list'] %}
                <tr>
                    <td style="width: 200px">
                        {{ price.name }}
                    </td>
                    <td>
                        {{ price.description }}
                    </td>

                    {% for i in price.categoryPrice %}

                    <td>
                        <input name="{{ i['category'] }}{{ loop.index }}" style="width: 100px" type="text" class="form-control" required
                               value="{{ i['sum'] }}">
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <button style="width: 100px" type="submit" class="btn btn-dark">Добавить</button>
        </form>
    </div>
    <div class="col-2">
    </div>
</div>

{% endblock %}