<!--<footer class="footer mt-auto text-center py-3 bg-light">-->
<!--<footer class="footer text-center mt-auto bg-light w-100 py-3 position-absolute bottom-0 start-50 translate-middle-x">-->


<!--<footer style="height: 50px;" class="bg-light mt-auto text-center text-lg-start">-->
<!--    <div class="text-center p-3">-->
<!--        <p>© 2023 <span style="color:#284C7E">Я</span><span style="color:#000000">.Мойки</span>-->
<!--    </div>-->
<!--</footer>-->

<footer class="footer mt-auto py-3 bg-light">
    <div class="text-center p-4">
        <p>© 2023 <span style="color:#284C7E">Я</span><span style="color:#000000">.Мойки</span>
    </div>
</footer>