<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <meta name="theme-color" content="#ffffff">
    <div class="container-fluid">

    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <meta name="theme-color" content="#ffffff">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Я.Мойки</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                {% if g.user_db.role == 'admin' %}
                <div class="dropdown">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           data-bs-toggle="dropdown">
                            Словари
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li>
                                <a class="dropdown-item"
                                   href="{{ url_for('admin_blueprint.admin_users') }}">Пользователи </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ url_for('admin_blueprint.admin_networks_list') }}">
                                    Сети </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ url_for('admin_blueprint.list_of_prices') }}">
                                    Тарифы </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"> ... </a>
                            </li>
                        </ul>
                    </li>
                </div>
                <li class="nav-item">
                    <a class="nav-link" href="#" aria-disabled="true"> {{ g.user_db.role }} </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" aria-disabled="true"> {{ g.user_inf.id }} </a>
                </li>
                {% elif g.user_db.role == 'network_owner' %}
                <li class="nav-item">
                    <a class="nav-link" href="/" aria-disabled="true"> Владелец cети: {{ g.user_inf['real_name'] }} </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" aria-disabled="true"> Мойки </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" aria-disabled="true"> Заказы </a>
                </li>

                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main_blueprint.logout') }}" aria-disabled="true">Выйти</a>
                </li>
                {% if g.user_inf['is_avatar_empty'] == False %}

                <img src="https://avatars.yandex.net/get-yapic/{{ g.user_inf['default_avatar_id'] }}/islands-retina-50"/>
                {% endif %}


            </ul>
        </div>
    </div>
</nav>