<html lang="ru">

<body class="d-flex h-100 text-center text-white bg-dark">
<nav class="navbar navbar-expand navbar-light bg-light">
    <meta name="theme-color" content="#ffffff">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><span style="color:#284C7E">Мой</span><span
                style="color:#000000">декс</span></a>
    </div>
</nav>

{% block body %}
{% endblock %}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

</body>
</html>