{% extends "base.html" %}

{% block body %}
<br>
<div class="container">
    <div class="row">
        <div class="col-2">
            профиль
            Вы владелец
            Ваши данные:

            {% for i in g.user_db %}
            {{ i }} -> {{ g.user_db[i] }} <br>
            {% endfor %}<br><br>


            {% for i in g.user_inf %}
            {{ i }} -> {{ g.user_inf[i] }} <br>
            {% endfor %}<br><br>
        </div>
        <div class="col-10">
            <main class="container-sm">




            </main>
        </div>
    </div>
</div>
{% endblock %}