{% extends "base.html" %}

{% block body %}
<br>
<div class="container">
    <div class="row">
        <div class="col-2">
             колонка

        </div>
        <div class="col-10">
            <main class="container-sm">
                <div class="table-responsive">
                    профиль
                    Вы владелец

                    {% for i in g.user_db %}
                    {{ i.key }} -> {{ i.value }}
                    {{ endfor }}

                    {% for i in g.user_info %}
                    {{ i.key }} -> {{ i.value }}
                    {{ endfor }}
                </div>
            </main>
        </div>
    </div>
</div>
{% endblock %}