{% extends "base.html" %}


{% block body %}
<br>
<div class="container">
    <div class="row">
        <div class="col-2">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main_blueprint.logout') }}" aria-disabled="true">Выйти</a>
            </li>

        </div>
        <div class="col-10">
            <main class="container-sm">
                <div class="table-responsive">
                    профиль
                    вы Сотрудник
                </div>
            </main>
        </div>
    </div>
</div>
{% endblock %}