{% extends "base.html" %}

{% block body %}
<br>
<div class="container">
    <div class="row">
        <div class="col-2">
            <legend>Роль: Владелец Сети</legend>

        </div>
        <div class="col-10">
            <main class="container-sm">
                Ваши данные: <br><br>

                <table class="table table-bordered table-center">
                    <thead class="table-light">
                    <tr>
                        <th scope="col" colspan="2">g.user_db</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in g.user_db %}
                    <tr>
                        <td style="width: 200px">
                            {{ i }}
                        </td>
                        <td>
                            <input name="lon" style="width: 350px" type="text" class="form-control"
                                   required placeholder="longitude" value="{{ g.user_db[i] }}">
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <table class="table table-bordered table-center">
                    <thead class="table-light">
                    <tr>
                        <th scope="col" colspan="2">g.user_inf</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in g.user_inf %}
                    <tr>
                        <td style="width: 200px">
                            {{ i }}
                        </td>
                        <td>
                            <input name="lon" style="width: 350px" type="text" class="form-control"
                                   required placeholder="longitude" value="{{ g.user_inf[i] }}">
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </main>
        </div>
    </div>
</div>
{% endblock %}