{% extends "base.html" %}

{% block body %}
<br>
<div class="container">
    <div class="row">
        <div class="col-2">

            <a class="nav-link" href="{{ url_for('profile') }}" aria-disabled="true">Профиль</a>

        </div>
        <div class="col-10">
            <main class="container-sm">
                <div class="table-responsive">
                    <div class="table-responsive">
                        <form method=POST action="{{ url_for('admin_add_user') }}">
                            <table class="table table-bordered table-center">
                                <thead class="table-light">
                                <tr>
                                    <th scope="col" colspan="3">Добавить Сеть:</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td style="width: 200px">
                                        Логин.Яндекс:
                                    </td>
                                    <td style="width: 40%">
                                        <select style="width: 100%" type="text" class="form-control"
                                                name="network"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 200px">
                                        Роль:
                                    </td>
                                    <td style="width: 40%">
                                        <input style="width: 100%" type="text" class="form-control" name="role">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 200px">
                                        Мойки?:
                                    </td>
                                    <td style="width: 40%">
                                        <input style="width: 100%" type="text" class="form-control" name="carwashes">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <button style="width: auto" type="submit" class="btn btn-outline-secondary">
                                Сохранить
                            </button>
                        </form>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
{% endblock %}