{% extends "base.html" %}


{% block body %}

<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>




<script>
    var context_chart = {{context | tojson}};

    $(document).ready(function () {
        render_chart();
    });

    function render_chart() {
        const DATA_COUNT = 7;
        const NUMBER_CFG = {count: DATA_COUNT, min: 0, max: 100};

        const labels = Utils.months({count: 7});
        const data = {
            labels: labels,
            datasets: [
                {
                    label: 'Dataset 1',
                    data: Utils.numbers(NUMBER_CFG),
                    borderColor: Utils.CHART_COLORS.red,
                    backgroundColor: Utils.transparentize(Utils.CHART_COLORS.red, 0.5),
                },
                {
                    label: 'Dataset 2',
                    data: Utils.numbers(NUMBER_CFG),
                    borderColor: Utils.CHART_COLORS.blue,
                    backgroundColor: Utils.transparentize(Utils.CHART_COLORS.blue, 0.5),
                }
            ]
        };

        const config = {
            type: 'bar',
            data: data,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Chart.js Bar Chart'
                    }
                }
            },
        };
    }
</script>

<legend>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col text-end">Отчет:</div>
        </div>
    </div>
</legend>
<div class="container">
    <h1>{{ title }}</h1>
    <canvas id="barChart" style="width: 100%; height: 400px"></canvas>
    <br>
    <div>
        {% for obj in context.research_by_status %}
        {{ obj }}: {{ context.research_by_status[obj] }}
        {% endfor %}
    </div>
    <div>
        {{ context.research_by_date }}
    </div>
</div>


{% endblock %}
