{% extends "base.html" %}


{% block body %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
<script>
    var context_chart = {{context | tojson}};

    $(document).ready(function () {
        render_chart();
    });

    function render_chart() {
        // bar chart data
        var barData = {
            labels: context_chart.labels,
            datasets : [{
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                bezierCurve: false,
                data:  context_chart.values,
            }]
        }

        Chart.defaults.global.animationSteps = 50;
        Chart.defaults.global.tooltipYPadding = 16;
        Chart.defaults.global.tooltipCornerRadius = 0;
        Chart.defaults.global.tooltipTitleFontStyle = "normal";
        Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
        Chart.defaults.global.animationEasing = "easeOutBounce";
        Chart.defaults.global.responsive = false;
        Chart.defaults.global.scaleLineColor = "black";
        Chart.defaults.global.scaleFontSize = 16;

        // get bar chart canvas
        var mychart = document.getElementById("chart").getContext("2d");

        steps = 5
        max = 20
        // draw bar chart
        var LineChartDemo = new Chart(mychart).Line(barData, {
            scaleOverride: true,
            scaleSteps: steps,
            scaleStepWidth: Math.ceil(max / steps),
            scaleStartValue: 0,
            scaleShowVerticalLines: true,
            scaleShowGridLines: true,
            barShowStroke: true,
            scaleShowLabels: true,
            bezierCurve: false,
        });

    }


</script>
<legend>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col text-end">Отчет:</div>
        </div>
    </div>
</legend>
<div class="container">
    <h1>{{ title }}</h1>
    <canvas id="chart" style="width: 100%; height: 40%"></canvas>
    <br>
    <div class="row">
        <div class="col">{{ context.research_by_status }}</div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">{{ context.research_by_date }}</div>
    </div>
</div>


{% endblock %}
