<div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
        <legend>
            <div class="modal-header">
                {% for enum in context.CategoryAuto %}
                {% if enum.name == context.selected_category %}
                Прейскурант для {{ enum.CategoryAutoToDispaly(enum) }}
                {% endif %}
                {% endfor %}
            </div>
        </legend>
        <div id="modal_table_prices" class="modal-body">
            <table id="table_prices_carwash" class="table table-responsive table-center align-middle">
                <thead class="table-light">
                <tr>
                    <th>Тариф</th>
                    <th>Стоимость</th>
                    <th>Кол-во</th>
                    <th>Подытог</th>
                </tr>
                </thead>
                <tbody>
                {% for price in context.set_prices %}
                {% if price.status == 'active' %}
                <tr>
                    <td style="width: 365px">
                        <b>{{ price.name }}</b><br>
                        {{ price.description }}
                    </td>
                    <td>
                        {{ price.categoryPrice['sum'] }}"
                    </td>
                    <td>
                        <input style="width: 100px; text-align: end" class="form-control" type="number" value="0"
                               data-price="{{ price.categoryPrice['sum'] }}">
                    </td>
                    <td>
                        0
                    </td>

                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <div class="row">
                <div class="col"></div>
                <div class="col"></div>
                <legend>
                    <div class="col text-end">
                        Итого: 0
                    </div>
                </legend>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#event-modal" data-bs-toggle="modal"
                    data-bs-dismiss="modal">Back to first
            </button>
        </div>
    </div>
</div>

