{% extends "base.html" %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col-4">
            <form method=POST action="#">

                &nbsp;<input style="width: 150px" value="{{ context.date | format_datetime }}"
                             class="form-control"
                             placeholder="{{ context.date | format_datetime }}"
                             type="date" name="date" aria-describedby="addon-wrapping">


            </form>
        </div>
        <div class="col-1">
            <a class="btn btn-outline-secondary" href="{{ url_for('carwash_blueprint.create_carwash') }}">+</a>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Время</th>
            <th>Бокс 1</th>
            <th>Бокс 2</th>
            <th>Бокс 3</th>
            <th>Бокс 4</th>
        </tr>
        </thead>
        <tbody class=".table-hover">

        {% for carwash in context['carwashes_list'] %}

        <tr class="tr-order"
            data-href="{{ url_for('carwash_blueprint.owner_carwash_detail', carwash_id=carwash._id) }}">
            <th scope="row">
                {{ context['count_carwashes'] - loop.index0 }}
            </th>
            <td>
                {% if carwash.Enable == True %}
                <span style="width: 100px" class="badge bg-success">{{ carwash.Enable | enable_rus }}</span>
                {% else %}
                <span style="width: 100px" class="badge bg-danger">{{ carwash.Enable | enable_rus }}</span>
                {% endif %}
            </td>
            <td>
                {{ carwash.Name }}
            </td>

            <td>
                {{ carwash.Address }}
            </td>

            <td>
                {{ carwash.Type | type_rus }}
            </td>
            <td>
                {{'%0.2f'| format(carwash.StepCost|float)}}&#8381
            </td>
            <td>
                {{'%0.2f'| format(carwash.LimitMinCost|float)}}&#8381
            </td>
            <td>
                {% set boxes_status = (carwash.Boxes | format_pretty_boxes) %}
                <span class="badge bg-success">{{ boxes_status.Free }}</span>
                <span class="badge bg-danger">{{ boxes_status.Busy }}</span>
                <span class="badge bg-warning">{{ boxes_status.Unavailabla }}</span>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}
