{% extends "base.html" %}


{% block body %}


<script src='https://cdn.jsdelivr.net/npm/fullcalendar-scheduler@6.1.6/index.global.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/moment@6.1.6/index.global.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/moment@2.27.0/min/moment.min.js'></script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        console.log("in func");
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            //LICENCE:
            schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
            plugins: ['interaction', 'resourceDayGrid', 'resourceTimeGrid'],
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'resourceTimeGridDay,resourceDayGridWeek,resourceDayGridMonth'
            },
            defaultView: 'resourceTimeGridDay',
            views: {
                resourceTimeGridDay: {
                    type: 'resourceTimeGrid',
                    duration: {days: 1},
                    buttonText: 'Day'
                }
            },
            resources: [
                {id: 'a', title: 'Resource A'},
                {id: 'b', title: 'Resource B'}
            ],
            events: [
                {id: '1', resourceId: 'a', start: '2023-04-30T10:00:00', end: '2023-04-30T14:00:00', title: 'Event 1'},
                {id: '2', resourceId: 'b', start: '2023-04-30T12:00:00', end: '2023-04-30T16:00:00', title: 'Event 2'}
            ]
        });


    });

    calendar.render();


</script>
<div class="container">
    <div id='calendar'></div>
</div>
{% endblock %}
