{% extends "base.html" %}


{% block body %}


<script>

    $(document).ready(function () {
        // form_submit;
        send_order();
        render_calendar();
    });

    var model = {{context | tojson}};

    function render_calendar() {
        console.log("in func");
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            //OPTIONS:
            schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
            contentHeight: 500,
            //TIME
            timeZone: 'local',

            // Добавляем русский язык
            locale: 'ru',
            // Изменяем тексты кнопок
            buttonText: {
                today: 'Сегодня',
                month: 'Месяц',
                week: 'Неделя',
                day: 'День',
                list: 'Список'
            },
            slotMinTime: model.carwash_start_time,
            slotMaxTime: model.carwash_end_time,
            initialDate: model.date_today,


            allDaySlot: false,
            slotDuration: '00:15:00', // устанавливаем интервал в 15 минут

            nowIndicator: true,
            now: model.now_iso,

            slotLabelFormat: {
                hour: 'numeric',
                minute: '2-digit',
                hour12: false
            },

            // initialView: 'resourceTimelineDay',
            initialView: 'resourceTimeGridDay',

            // aspectRatio: 1.5,
            headerToolbar: {
                left: 'prev,next',
                center: 'title',
                right: 'resourceTimeGridDay,timeGridWeek,dayGridMonth'
            },
            selectable: true,
            editable: false,
            resourceAreaHeaderContent: 'Боксы',
            events: model.orders,
            resources: model.boxes,

            dateClick: function (info) {
                open_modal_window(info);
            },

            eventClick: function (info) {
                alert('Event: ' + info.event.title +
                'Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY +
                'View: ' + info.view.type);

                // change the border color just for fun
                info.el.style.borderColor = 'red';
            },

        });
        calendar.render();
    }

    function open_modal_window(info) {

        $('#event-modal').modal('show');

        // Задать заголовок модального окна с выбранной датой
        console.log('modal-title')
        // $('#event-modal .modal-title').text('\nВы кликнули на ' +
        //     'ресурс ' + info.resource.title + ' с id ' + info.resource.id + ' в ' + info.date.toLocaleString());


        // Задать тело модального окна с дополнительной информацией о дате
        console.log('modal-body')
        // $('#event-modal .modal-body').html('<p>Это модальное окно отображает информацию о выбранной дате.</p>');
    }

    function send_order() {
        $('#form').submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{{ url_for('schedule_blueprint.create_order_carwash') }}",
                data: $('#form').serialize(),
                success: function (response) {
                    // alert(response.status);
                    $('#event-modal').modal('toggle');
                }
            });
        });
    }


</script>
<br>
<div class="container">
    <div id='calendar'></div>
</div>
<br>
<div id="output"></div>

<form id="form">
    <div class="modal fade" id="event-modal" data-bs-backdrop="static"
         data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title center" id="staticBackdropLabel2">Новая Запись</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row justify-content-center">

                            <label>Гос.Номер:</label>
                            <input style="width: 200px" type="text" class="form-control"
                                   name="country_region_number"
                                   placeholder="А999АА799">
                            <label>Марка:</label>
                            <input style="width: 200px" type="text" class="form-control" name="car_brand"
                                   placeholder="Mitsubishi">
                            <label>Модель:</label>
                            <input style="width: 200px" type="text" class="form-control" name="car_model"
                                   placeholder="Lancer">
                            <label>Категория:</label>
                            <input style="width: 200px" type="tel" class="form-control" name="category"
                                   placeholder="Кат.1">
                            <label>Дата:</label>
                            <input style="width: 200px" value=""
                                   class="form-control"
                                   placeholder=""
                                   type="date" name="date" aria-describedby="addon-wrapping">
                            <label>Бокс:</label>
                            <input style="width: 200px" type="text" class="form-control"
                                   name="box"
                                   placeholder="№">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <button type="submit" class="btn btn-outline-success">Создать</button>
                    </div>
                </div>
            </div>


        </div>
    </div>
</form>
{% endblock %}
