<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav nav-pills ">


                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ url_for('admin') }}">Записи Заказов</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ url_for('logout') }}">Выход</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ url_for('admin') }}">Профиль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ url_for('admin') }}">ЧтО-То ЕщЁ</a>
                </li>


            </ul>
            {# Конец добавленого в спринте #}
        </div>
    </div>
</header>