{% extends "base.html" %}

{% block body %}
<br>
<div class="container">
    <div class="row">
        <div class="col-2">
            Проверить:

            <ul>
                <li>Категорию авто</li>
            </ul>

            <form>
                <button style="width: 130px" type="submit" class="btn btn-outline-secondary"
                        value="submit_order">Подтвердить
                </button>
            </form>
            <form>
                <button style="width: 130px" type="submit" class="btn btn-outline-secondary"
                        value="dismiss_order">Отменить
                </button>

            </form>
        </div>
        <div class="col-10">
            <main class="container-sm">
                <div class="table-responsive">

                    <table class="table table-bordered table-center">
                        <thead class="table-light">
                        <tr>
                            <th scope="col" colspan="3">Мойка</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="width: 200px">
                                Тип договора:
                            </td>
                            <td style="width: 40%">
                                <input style="width: 100%" type="text" class="form-control"
                                       value="{{ context['order'].ContractId }}">
                            </td>
                            <td rowspan="9">
                                <img src="https://static-maps.yandex.ru/1.x/?l=map&z=17&size=500,450&pt={{ context.carwash.Location.lon |int }},{{ context.carwash.Location.lat |int  }},org">
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 200px">
                                Id Мойки:
                            </td>
                            <td>
                                <input style="width: 100%" width="20%" type="text" class="form-control"
                                       value="{{ context['order'].CarWashId }}">
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 200px">
                                Id Бокса:
                            </td>
                            <td>
                                <input style="width: 100%" type="text" class="form-control"
                                       value="{{ context['order'].BoxNumber }}">
                            </td>
                        </tr>
                        <tr class="table-light">
                            <th scope="col" colspan="2">Заказ</th>
                        </tr>
                        <tr>
                            <td style="width: 200px">
                                № Заказа:
                            </td>
                            <td>
                                <input style="width: 100%" type="text" class="form-control"
                                       value="{{ context['order'].Id }}">
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 200px">
                                Дата создания:
                            </td>
                            <td>
                                <input style="width: 100%" type="text" class="form-control"
                                       value="{{ context['order'].DateCreate | format_datetime }}">
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 200px">
                                Статус заказа:
                            </td>
                            <td>
                                <input style="width: 100%" type="text" class="form-control"
                                       value="{{ context['order'].Status }}">
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 200px">
                                Оказанный сервис:
                            </td>
                            <td>
                                {% for service in context['order'].Services %}
                                <input style="width: 49%" type="text" class="form-control"
                                       value="Наименование: {{ service.Description }}"><br>
                                <input style="width: 49%" type="text" class="form-control"
                                       value="Цена: {{ service.Cost }}"><br>
                                <input style="width: 49%" type="text" class="form-control"
                                       value="id: {{ service.Id}}"><br>
                                <br>
                                {% endfor %}
                            </td>
                        </tr>


                        <tr class="table-light">
                            <th scope="col" colspan="2">Оплата</th>
                        </tr>
                        <tr>
                            <td style="width: 200px">
                                Сумма стоимости заказа:
                            </td>
                            <td colspan="2">
                                <input style="width: 43%" type="text" class="form-control"
                                       value="{{'%0.2f'| format(context['order'].Sum|float)}}&#8381">
                            </td>

                        </tr>
                        <tr>
                            <td style="width: 200px">
                                Сумма списания:
                            </td>
                            <td colspan="2">
                                <input style="width: 43%" type="text" class="form-control"
                                       value="{{'%0.2f'| format(context['order'].SumCompleted|float)}}&#8381">
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 200px">
                                Выплачено партнеру:
                            </td>
                            <td colspan="2">
                                <input style="width: 43%" type="text" class="form-control"
                                       value="{{'%0.2f'| format(context['order'].SumPaidStationCompleted|float)}}&#8381">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
</div>
{% endblock %}