{% for order in context['orders_list'] %}
<tr class="tr-order" data-href="{{ url_for('order_blueprint.order_detail', order_id=order._id) }}">
    <th scope="row">
        {{ context['count_orders'] - loop.index0 }}
    </th>
    <td>
        {{ order.DateCreate | format_datetime }}
    </td>
    <td>
        {% for i in context['carwashes'] %}
        {% if i._id == order.CarWashId %}
        {{ i['Name'] }}
        {% endif %}
        {% endfor %}
    </td>
    <td>
        {{ order.Status | format_status_order}}
    </td>
    <td>
        {{ order.ContractId | format_ContractId }}
    </td>
    {% if order.ContractId == 'OWN' %}
        <td class="text-end">{{ order.order_basket | count_cost_bascket }}&#8381</td>
    {% else %}
        <td class="text-end">
            {{'%0.2f'| format(order.Sum|float)|format_space_numbers }}&#8381
        </td>
    {% endif %}
</tr>
{% endfor %}
