{% extends "base.html" %}

{% block body %}
<br>
<div class="container">
    <div class="row">
        <div class="col-2">
            Ссылки:

            <ul>
                <li>ссылки</li>
            </ul>

        </div>
        <div class="col-10">
            <main class="container-sm">
                <div class="table-responsive">

                    <table class="table table-bordered table-center">
                        <thead class="table-light">
                        <tr>
                            <th scope="col" colspan="3">Заказ</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="width: 200px">
                                Адрес:
                            </td>
                            <td>
                                <input style="width: 100%" width="20%" type="text" class="form-control"
                                       value="{{ context.carwash.Address }}">
                            </td>
                            <td rowspan="5">
                                {% if context.carwash == None %}
                                <img src="https://static-maps.yandex.ru/1.x/?ll=37.620070,55.753630&spn=0.1,0.1&l=map&size=500,450">
                                {% else %}
                                <img src="https://static-maps.yandex.ru/1.x/?l=map&z=17&size=650,300&pt={{ context.carwash.Location.lon |float }},{{ context.carwash.Location.lat |float  }},org">
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 200px">
                                Бокс:
                            </td>
                            <td>
                                <input style="width: 100%" type="text" class="form-control"
                                       value="{{ context['order'].BoxNumber }}">
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 200px">
                                Дата создания:
                            </td>
                            <td>
                                <input style="width: 100%" type="text" class="form-control"
                                       value="{{ context['order'].DateCreate | format_datetime }}">
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 200px">
                                Статус заказа:
                            </td>
                            <td>
                                <input style="width: 100%" type="text" class="form-control"
                                       value="{{ context['order'].Status | format_status_order }}">
                            </td>
                        </tr>
                        <tr class="table-light">
                            <th scope="col" colspan="2">Оплата</th>
                        </tr>
                        <tr>
                            <td style="width: 200px">
                                Сумма заказа:
                            </td>
                            <td>
                                <input style="width: 100%" type="text" class="form-control"
                                       value="{{'%0.2f'| format(context['order'].Sum|float)}}&#8381">
                            </td>
                            <td class="align-center">
                                <div class="align-right">
                                    <button style="width: 130px" type="submit" class="btn btn-outline-secondary"
                                            data-bs-toggle="modal"
                                            data-bs-target="#staticBackdrop">Подтвердить
                                    </button>
                                </div>
                                <!-- Модальное окно -->
                                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                     data-bs-keyboard="false" tabindex="-1"
                                     aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel">Подтверждение
                                                    заказа</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Закрыть"></button>
                                            </div>
                                            <div class="modal-body">
                                                Прежде чем подтвердить заказ:<br>
                                                УБЕДИТЕСЬ В ВЕРНОСТИ КАТЕГОРИИ АВТО
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">
                                                    Закрыть
                                                </button>
                                                <button type="button" class="btn btn-primary">Подтвердить</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
</div>
{% endblock %}



