{% extends "base.html" %}


{% block body %}
<br>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<meta http-equiv="refresh" content="5000">
<script>

    $(document).ready(function () {
        tr_to_buttons();

        setInterval(function () {
            console.log("5 sec");


            if ($('#load-switch').prop('checked')) {
                load();
                console.log("switch turned on");
            } else {
                console.log("switch turned off");
            }

        }, 5000);
    });

    function tr_to_buttons() {
        $('.tr-order').click(function () {
            window.open($(this).data('href'), "_blank");
            return false;
        });
    }

    function load() {
        $.get(" {{ url_for('order_blueprint.orders_list') }}", function (data) {
            $("#tbody_orders").html(data);
            tr_to_buttons();
        });
    }


    function paginator() {
        $("#load_orders").click(function () {
            $.get(" {{ url_for('order_blueprint.orders_list', skip=context.skip, limit=context.limit  ) }}", function (data) {
                $("#tbody_orders").html(data);
                tr_to_buttons();
            });
        });
    }
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <form method=POST action="{{ url_for('order_blueprint.orders_list') }}">
                <div class="row justify-content-start">
                    &nbsp;<input style="width: 100px" class="form-control" placeholder="Поиск" name="search_field"
                                 aria-describedby="addon-wrapping">
                    &nbsp;<select style="width: 150px" class="form-control" id="validationCustom04" name="status">
                    <option value="">Статус</option>
                    <option value="OrderCreated">OrderCreated</option>
                    <option value="Completed">Completed</option>
                    <option value="UserCanceled">UserCanceled</option>
                    <option value="Canceled">Canceled</option>
                </select>
                    &nbsp;<input style="width: 150px" value="{{ context['date'] | format_datetime }}"
                                 class="form-control"
                                 placeholder="{{ context['date'] | format_datetime }}"
                                 type="date" name="date" aria-describedby="addon-wrapping"><input style="width: 100px"
                                                                                                  class="form-control"
                                                                                                  placeholder="00:00"
                                                                                                  name="time"
                                                                                                  aria-describedby="addon-wrapping">
                    <!-- DATETIMEPICKER bootstrap.min.js -->
                    &nbsp;<button style="width: 80px" type="submit" class="btn btn-outline-secondary">Найти</button>
                </div>
            </form>
        </div>
        <div class="col-2">
            <div class="justify-content-end">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="load-switch" checked>
                    <label class="form-check-label" for="load-switch">автообновление страницы</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Название Мойки</th>
            <th scope="col">Статус заказа</th>
            <th class="text-end" scope="col">Сумма заказа</th>
            <th class="text-end" scope="col">Сумма списания</th>
            <th class="text-end" scope="col">Выплачено партнеру</th>
        </tr>
        </thead>
        <tbody id="tbody_orders" class="table-hover">
        {% include 'orders/orders_table.html' %}
        </tbody>
    </table>
</div>
<div class="col-2 mx-auto">
    <button id="load_orders" type="button" class="btn center bg-light">Показать еще</button>
</div>
<br>
<br>
<br>
{% endblock %}


